include ../../lib/_var.pug
include ../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../base/_head_curse.pug
  meta(name="title", content=titles[1]+" "+ titles[0])
  meta(name="description", content="Clases y conocimiento sobre en el yoga con "+titles[0]+". Aquí podrás leer más acerca de mí")
  title #{titles[6]} - #{titles[0]}
 body.o-Hidden

  // menu
  include ../../base/_header.pug

  // hero
  include ../../components/curso/into-ashtanga/index/_hero.pug

  // lines and content
  .o-contentCourse.-padMdTopBottom
   .o-line.m-contentCourse.-ContainerUniversal
    include ../../components/curso/into-ashtanga/index/_left.pug
    include ../../components/curso/into-ashtanga/index/_meta_right.pug
   //-include ../../components/curso/_line.pug

  // Faq
  include ../../components/curso/into-ashtanga/index/_faq.pug

  // Fund
  include ../../components/index/_fund.pug

  // footer
  include ../../base/_footer.pug