section.o-bookmarks.-padBgTop#upBookmark
 .m-bookmarks.-ContainerBlog
  .m-bookmarks__title
   h2.a-problemTitle Marcadores
  .m-bookmarks__links
   ol.m-listContent.-arrow
    li.a-listContent: a(href="#aboutBlog"): p.a-bookmark Breve autobiografía
    li.a-listContent: a(href="#beginningBlog"): p.a-bookmark Cómo me inicié en el Yoga y la Meditación
    li.a-listContent: a(href="#ashtangaBlog"): p.a-bookmark Cómo conseguí el Ashtanga Yoga
    li.a-listContent: a(href="#teacherBlog"): p.a-bookmark Mi preparación y experiencia como profesora
    li.a-listContent: a(href="#parkBlog"): p.a-bookmark Yoga gratuito en la Plaza