section.o-hero.-alert
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.-alert Panel de control, informe de la pandemia
   .a-heroContent__text.a-noPadding
    h3.-alert Tus El brote de COVID-19 ha traído consigo el distanciamiento social y el cierre de negocios. Los consumidores están cambiando la manera de comprar y lo que compran. Estamos aquí para ayudarte con datos y recursos para que puedas tomar decisiones bien fundamentadas.
  .m-heroContent__img
   .img-index

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Las autoridades públicas han pedido a las personas que practiquen el distanciamiento social y que se queden en casa