section.o-hero.-alert
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.-alert Acerca de mí 
   .a-heroContent__text.a-noPadding
    h3.-alert Nací en Maracay, viví mi juventud y gran parte de mi vida adulta en esta ciudad, una de las más cercanas a Caracas, la capital de Venezuela.  Maracay es un valle rodeado por varias montañas y costas, parte de ellas conforman el Parque Nacional Henri Pittier.
  .m-heroContent__img
   .img-index

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Las autoridades públicas han pedido a las personas que practiquen el distanciamiento social y que se queden en casa