section.o-hero.-alert
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.-alert Acerca de mí
   .a-heroContent__text.a-noPadding
    h3.-alert Mi conexión con los temas filosóficos y espirituales se creó a muy temprana edad. Disfruto mucho escribir sobre lo que estudio, hacer análisis y esquematizar la información o hacerla más digerible para otros.
  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/acerca_de/acerca_hero.png", alt="")
   .m-circleLines
    .a-circleLinesW
   .m-squarePoints
    .a-squarePointsW

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Lee más, quizá mi jornada pueda inspirarte o darte algunas claves para avanzar