section.o-blogText.-padMdTopBottom
 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Vestibulum a ultricies tellus
   .a-problemSubtitle
    span.a-problemSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
    .a-problemSubtitle__line
  .m-textContent__text
   p In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
   p Mauris efficitur, mauris at lobortis placerat, dui neque porta justo, at ultrices sem eros at nisl. Proin id ex mi. Morbi lorem nibh, viverra eu aliquam vel, viverra nec libero. 
   p In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
  .m-textContent__img
   img.a-blogText__img(src="https://craft.atlassian.design/uploads/guidelines/brand/personality/Artboard-1-copy-3.png", alt="")
  .m-textContent__text
   p In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
   p Mauris efficitur, mauris at lobortis placerat, dui neque porta justo, at ultrices sem eros at nisl. Proin id ex mi. Morbi lorem nibh, viverra eu aliquam vel, viverra nec libero. 
   p In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.