.o-hero {
    position: relative;
    padding-top: $spaceMd;
    padding-bottom: $spaceMd;
    &.-alert {
        background-color: $color-primary;
    }
    &.-error {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: $color-calm;
    }
    &.-course {
        height: 450px;
        display: flex;
        background-color: $color-secondary;
    }
    @include mediaQueriesMd {
        padding-top: $spaceRg;
        padding-bottom: $spaceRg;
        &.-course {
            height: auto;
        }
    }
    @include mediaQueriesXs {
        &.-index {
            padding-top: $spaceXs;
        }
    }
}

.m-heroContent {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-gap: 0 50px;
    grid-template-areas: "textHero imgHero";
    .-error & {
        position: relative;
        z-index: 5;
    }
    @include mediaQueriesMd {
        grid-template-columns: 86%;
        grid-template-rows: 1fr auto;
        grid-gap: $spaceBg 0;
        grid-template-areas: "textHero" "imgHero";
        justify-content: center;
    }
    @include mediaQueriesXs {
        grid-gap: $spaceXs 0;
        grid-template-columns: 100%;
    }
}



.m-heroContent__text {
    grid-area: textHero;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $spaceSm;
    @include mediaQueriesLg {
        padding-left: 0;
    }
}
.a-heroContent__title {
    max-width: 90%;
    padding-bottom: $spaceXs;
    h1 {
        color: $color-primary;
    }
    h1.-alert {
        color: $color-lightin;
    }
    @include mediaQueriesLg {
        max-width: 100%;
    }
    @include mediaQueriesXs {
        h1 {
            text-align: center;
        }
    }
}

.a-heroContent__text {
    line-height: 1.27;
    padding-bottom: $spaceSm;
    .-alert {
        color: $color-lightgrey;
    }
}

.a-heroContent__button {
    @include mediaQueriesMd {
        // display: flex;
        text-align: center;
    }
    @include mediaQueriesXs {
        .-wierdPrimary {
            padding: 8px 30%;
        }
    }
}

.a-heroContent__form {
    display: flex;
    flex-direction: row;
    input {
        font-size: 20px;
    }
    &.-footer {
        margin-top: $spaceXs;
        margin-bottom: $spaceXs;
        input {
            font-size: $fontSM5;
        }
    }
    @include mediaQueriesXs {
        justify-content: center;
        input {
            font-size: $fontSM2;
        }
        &.-footer {
            input {
                font-size: $fontSM2;
            }
        }
    }
    @include mediaQueriesXxs {
        input {
            font-size: $fontS2;
        }
    }
}
.a-mailchimpGroup {
    margin-right: $spaceXs;
    @include mediaQueriesXxs {
        margin-right: 8px;
    }
}
.a-mailchimpMail {
    border-radius: $spaceRg;
    border: 2px solid $color-primary;
    padding-top: 5px;
    padding-left: $spaceXs;
    padding-right: $spaceXs;
    &:focus {
        outline: none;
        border-color: $color-secondary;
    }
    @include mediaQueriesXs {
        width: 190px;
        padding-right: 5px;
        padding-left: 8px;
    }
}

.m-heroContent__img {
    grid-area: imgHero;
    margin: auto;
    position: relative;
    img {
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .a-circleLinesW {
        width: 200px;
        position: absolute;
        bottom: -30px;
        z-index: 0;
    }
    .a-squarePointsW {
        width: 200px;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 0;
    }
    @include mediaQueriesXs {
        .a-circleLinesW {
            width: 150px;
            left: -28px;
        }
        .a-squarePointsW {
            width: 150px;
        }
    }
}
.m-heroContentImg {
    display: flex;
    justify-content: center;
}



.o-callToAction {
    position: relative;
    overflow: hidden;
    &.-index {
        background: linear-gradient(to bottom, $color-secondary 0%, rgba($color-secondary, $alpha: .6) 110%);
    }
    &.-donate {
        background-color: $color-alert;
    }
}
.m-calltoActionContent {
    overflow: hidden;
    .a-thingsRight {
        position: absolute;
        top: -110px;
        right: -$spaceSm;
        width: 30%;
        z-index: 0;
    }
    .a-thingsLeft {
        position: absolute;
        top: -110px;
        left: -$spaceSm;
        width: 30%;
        z-index: 0;
    }
    @include mediaQueriesLg {
        .a-thingsRight {
            width: 250px;
            right: -150px;
        }
    }
    @include mediaQueriesMd {
        .a-thingsRight, .a-thingsLeft  {
            top: -38px;
            right: -50px;
        }
        .a-thingsLeft {
            width: 250px;
            top: -48px;
            left: -$spaceBg;
        }
    }
    @include mediaQueriesXs {
        .a-thingsRight {
            // width: 75%;
            top: auto;
            bottom: -120px;
            right: -$spaceRg;
        }
        .a-thingsLeft {
            // width: 75%;
            top: -150px;
            left: -200px;
        }
    }
}

.a-calltoActionText {
    display: flex;
    justify-content: center;
    padding: $spaceSm 0;
    position: relative;
    z-index: 5;
    &__text.-index {
        color: $color-lightin;
        text-align: center;
    }
    &__text.-donate {
        color: $color-primary;
        text-align: center;
    }
}