.o-moreInfo {
    position: relative;
    background-color: $color-calm;
}

.o-moreInfo__content {
    display: grid;
    grid-template-columns: 63% 1fr;
    grid-template-rows: 350px;
    grid-gap: 0 $spaceRg;
    @include mediaQueriesXl {
        grid-template-columns: 56% 1fr;
        grid-template-rows: auto;
    }
    @include mediaQueriesLg {
        grid-gap: 0 $spaceMd;
        grid-template-columns: 1fr 40%;
    }
    @include mediaQueriesMd {
        grid-template-columns: 1fr;
        grid-gap: $spaceRg 0;
        grid-template-rows: auto 350px;
    }
    @include mediaQueries0 {
        grid-gap: $spaceXs 0;
    }
}

.m-moreInfo, .m-infoImgLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .a-moreInfo {
        width: 85%;
        font-size: $fontS5;
    }
    @include mediaQueriesXl {
        .a-moreInfo {
            width: 100%;
        }
    }
    @include mediaQueriesLg {
        .a-moreInfo {
            font-size: $spaceRg;
        }
    }
    @include mediaQueriesMd {
        align-items: center;
    }
}

.m-infoImgLinks__podcast {
    display: flex;
    justify-content: center;
}


.m-linksButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spaceRg;
}

.a-imgPodcast {
    position: relative;
    z-index: 2;
    width: 85%;
    border-radius: $spaceXs;
    box-shadow: 0 1px 10px 0 $color-darkgrey;
    @include mediaQueriesXl {
        width: 80%;
    }
    @include mediaQueriesMd {
        width: 60%;
    }
    @include mediaQueriesXs {
        width: 80%;
    }
}
/* .a-rectangle {
    &1 {
        position: absolute;
        top: $spaceXs;
        left: $spaceBg;
        z-index: 1;
        width: 70%;
        height: 255px;
        border-radius: 10px;
        background-color: $color-primary;
    }
    &2 {
        @extend .a-rectangle1;
        z-index: 0;
        top: 30px;
        left: 90px;
        height: 235px;
        background-color: darken($color-primary, $amount: 4%);
    }
    @include mediaQueriesXl {
        &1 {
            left: $spaceMd;
            // height: 74%;
        }
        &2 {
            left: $spaceBg;
            // height: 66%;
        }
    }
    @include mediaQueriesLg {
        &1 {
            top: $spaceXs;
            height: 230px;
        }
        &2 {
            top: $spaceRg;
            height: 200px;
        }
    }
    @include mediaQueriesMd {
        &1 {
            width: 280px;
            height: 270px;
            left: auto;
        }
        &2 {
            display: none;
        }
    }
    @include mediaQueries0 {
        &1 {
            top: $spaceSm;
            width: 235px;
            height: 225px;
            left: auto;
        }
    }
} */

.m-iconsImgPodcast {
    position: relative;
    @include mediaQueriesMd {
        text-align: center;
    }
    @include mediaQueriesXs {
        left: 0;
    }
}