.a-arrowRight {
    width: 11px;
    margin-left: 6px;
    position: relative;
    top: 1px;
    content: url('../img/icons/arrow_right_white.svg');
}

.a-facebook {
    width: 11px;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    content: url('../img/icons/facebook.svg');
    @include mediaQueriesLg {
        margin-left: 10px;
        margin-right: 0;
    }
    @include mediaQueriesMd {
        margin-left: $spaceXs;
    }
}

.a-instagram {
    width: 20px;
    margin-left: 10px;
    // margin-right: 10px;
    position: relative;
    top: 3px;
    content: url('../img/icons/instagram.svg');
    @include mediaQueriesMd {
        margin-left: $spaceXs;
    }
}

.a-iconsPodcast {
    width: 60px;
    margin-left: $spaceXs;
    box-sizing: border-box;
    &:hover {
        transform: translateY(-2px);
        border-bottom: 1px dashed $color-darkgrey;
        transition: all .5s;
    }
    @include mediaQueriesLg {
        width: 50px;
    }
    @include mediaQueriesXs {
        width: 42px;
    }
}

.a-burguerOut {
    cursor: pointer;
}

.a-paypal {
    width: 26px;
    content: url('../img/icons/paypal.png');
    // margin-top: 5px;
    margin-right: 3px;
}