// Links A
a {
    font-size: $fontS2;
    color: $color-darkengrey;
    font-weight: 600;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.a-itemLink {
    color: $color-darkengrey;
    &:hover {
        color: rgba($color-darkengrey, $alpha: .8);
    }
    &:active {
        border-bottom: 1px dotted $color-darkengrey;
    }
    @include mediaQueriesMd {
        font-size: $fontS3;
    }
}

.faq-list a {
    padding-top: 12px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-size: $fontSM2;
    background-color: transparent;
    transition: .5s;
    span {
        width: 98%;
        font-weight: 500;
        line-height: 1.4;
        &.collapsed {
            color: $color-primary;
        }
        &:hover {
            color: rgba($color-primary, $alpha: .8);
        }
        &:active, &:focus {
            outline: none;
            text-decoration: underline;
        }
    }
    &:active, &:focus {
        outline: none;
    }
    @include mediaQueriesSm {
        span {
            width: 90%;
        }
    }
}

// Modificadores de Links
.-modifierLink {
    color: $color-alert;
    text-decoration: none;
}
a.-LinkFaq {
    font-size: $fontS2;
    display: inline-block;
    position: static;
    color: $color-primary;
    text-decoration: underline;
    font-weight: 400;
}


// Links especificos con sus hover & behavior
.m-containerHeading__itemHeader.-linkHover {
    &:hover {
        text-decoration: none;
        @include greyHoverLinks;
    }
}

.a-itemContent {
    &:hover {
        @include greyHoverLinks;
    }
    &:focus {
        box-shadow: $color-primary 0 0 0 2px inset;
        outline: currentColor none medium;
        position: relative;
    }
    &:active:focus {
        color: $color-alert;
    }
    &:active {
        @include blueActiveLinks;
    }
}

.a-itemContent.-colorWhite {
    &:hover {
        @include globalHoverLinks();
    }
    &:focus {
        box-shadow: $color-lightin 0 0 0 2px inset;
        outline: currentColor none medium;
        position: relative;
    }
    &:active {
        @include globalHoverLinks($color-secondary, 1);
        color: $color-primary;
    }
}