h1, h2, h3, p, small, i, span, ol, li, ul {
    font-family: $font2;
    color: $color-darkgrey;
    line-height: 1.3;
}

// Titles
h1 {
    font-family: $font1;
    font-size: $fontS5;
    font-weight: bold;
    @include mediaQueriesMd {
        font-size: $fontSM4;
    }
}

h2 {
    font-family: $font1;
    font-weight: bold;
    font-size: $fontS4;
}

h3 {
    font-family: $font1;
    font-weight: 500;
    font-size: $fontS3;
}

// Pragraph
p, i, ol {
    font-size: $fontS2;
    font-weight: normal;
    @include mediaQueriesMd {
        font-size: $fontSM2;
    }
}

small, span {
    font-size: $fontS1;
}

.uppercase {
    text-transform: uppercase;
}

// List
ol {
    padding: 0;
}

.m-listContent {
    position: relative;
    // margin-left: $spaceXs;
    .-arrow {
        list-style: none;
        margin-left: $spaceSm;
        &::before {
            display: block;
            width: 18px;
            position: absolute;
            left: 0;
            margin: 2px 5px 0;
            content: url('../img/icons/arrow_right@0.5.svg');
        }
    }
}