include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head_curse.pug
  meta(name="og:title", content=nameCourse[0]+" info - "+titles[0])
  meta(name="og:description", content="Aprende los conceptos y fundamentos en lo que se basa la práctica de posturas en el Ashtanga yoga, su filosofía e historia y haz una práctica de iniciación con Yogaiskra")
  meta(name="og:url", content="https://yogaiskra.com/cursos-online/iniciacion-ashtanga-info")
  link(rel="canonical", href="https://yogaiskra.com/cursos-online/iniciacion-ashtanga-info")
  meta(name="og:type", content="website")

  meta(name="title", content=nameCourse[0]+" info - "+titles[0])
  meta(name="description", content="Cursos de yoga online soportados por donaciones y becas por Yogaiskra")
  title #{nameCourse[0]} info - #{titles[0]}
  include ../base/_headjs.pug
 body.o-Hidden.-menuSticky

  // menu
  include ../base/_header.pug

  // hero
  include ../components/cursos/iniciacion-ashtanga/info/_hero.pug

  // lines and content
  .o-contentCourse.-padMdTopBottom
   .o-line.m-contentCourse.-ContainerUniversal
    include ../components/cursos/iniciacion-ashtanga/info/_left.pug
    include ../components/cursos/iniciacion-ashtanga/info/_meta_right.pug

  //info
  include ../components/cursos/iniciacion-ashtanga/info/_faq.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../components/_contact_form.pug
  .-blur
  
  // footer
  include ../base/_footer.pug