{
  "name": "website_funding",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/sass/lib/_var.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "src/pug/acerca-de.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/acerca-de.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/donar.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/donar.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/info/ashtanga-yoga.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/info/ashtanga-yoga.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/info/podemos-cambiar.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/info/podemos-cambiar.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/cursos/cursos.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/cursos.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/cursos/error/no-found.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/curso/error/no-found.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/cursos/ashtanga/intro-ashtanga.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/curso/ashtanga/intro-ashtanga.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/sass/all.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/all.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src/sass",
      "src/sass/components",
      "src",
      "src/pug/cursos",
      "src/pug/cursos/error",
      "src/pug/cursos/ashtanga"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/pug/acerca-de.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/acerca_de/_hero.pug",
        "src/pug/components/acerca_de/_cards.pug",
        "src/pug/components/acerca_de/_text.pug",
        "src/pug/components/index/_fund.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/pug/donar.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/donate/_hero.pug",
        "src/pug/components/donate/_text.pug",
        "src/pug/components/donate/_explain.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/pug/index.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/index/_hero.pug",
        "src/pug/components/index/_problem.pug",
        "src/pug/components/index/_moreinfo.pug",
        "src/pug/components/index/_solution.pug",
        "src/pug/components/index/_problem_two.pug",
        "src/pug/components/index/_cards.pug",
        "src/pug/components/index/_fund.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/sass/style.scss",
      "imports": [
        "src/sass/lib/_var.scss",
        "src/sass/lib/_mixin.scss",
        "src/sass/layout/_bootstrap_reboot.scss",
        "src/sass/layout/_site.scss",
        "src/sass/layout/_grid.scss",
        "src/sass/base/_typography.scss",
        "src/sass/base/_icons.scss",
        "src/sass/base/_buttons.scss",
        "src/sass/base/_links.scss",
        "src/sass/components/_menu.scss",
        "src/sass/components/_resources.scss",
        "src/sass/components/index/_hero.scss",
        "src/sass/components/index/_problem_story.scss",
        "src/sass/components/index/_moreinfo.scss",
        "src/sass/components/index/_cards.scss",
        "src/sass/components/index/_blog_text.scss",
        "src/sass/components/index/_explain.scss",
        "src/sass/components/_footer.scss"
      ]
    },
    {
      "path": "src/pug/base/_footer.pug",
      "imports": [
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/pug/cursos/cursos.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head_curse.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/curso/_hero.pug",
        "src/pug/components/curso/_cards.pug",
        "src/pug/components/curso/_sm-experience.pug",
        "src/pug/components/curso/_line.pug",
        "src/pug/components/index/_fund.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/pug/info/ashtanga-yoga.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/info/ashtanga-yoga/_hero.pug",
        "src/pug/components/info/ashtanga-yoga/_text.pug",
        "src/pug/components/index/_fund.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/pug/info/podemos-cambiar.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/info/podemos-cambiar/_hero.pug",
        "src/pug/components/info/podemos-cambiar/_text.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/sass/all.scss",
      "imports": [
        "src/sass/lib/_var.scss",
        "src/sass/lib/_mixin.scss",
        "src/sass/layout/_bootstrap_reboot.scss",
        "src/sass/layout/_site.scss",
        "src/sass/layout/_grid.scss",
        "src/sass/base/_typography.scss",
        "src/sass/base/_icons.scss",
        "src/sass/base/_buttons.scss",
        "src/sass/base/_links.scss",
        "src/sass/components/_menu.scss",
        "src/sass/components/_resources.scss",
        "src/sass/components/index/_hero.scss",
        "src/sass/components/cursos/_hero.scss",
        "src/sass/components/index/_cards.scss",
        "src/sass/components/cursos/_sm-experience.scss",
        "src/sass/components/cursos/_content.scss",
        "src/sass/components/cursos/_faq.scss",
        "src/sass/components/cursos/_leftside_content.scss",
        "src/sass/components/cursos/_rightside_content.scss",
        "src/sass/components/cursos/_cards.scss",
        "src/sass/components/_footer.scss"
      ]
    },
    {
      "path": "src/pug/cursos/error/no-found.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/curso/error/_hero.pug",
        "src/pug/components/curso/_line.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    },
    {
      "path": "src/pug/cursos/ashtanga/intro-ashtanga.pug",
      "imports": [
        "src/pug/lib/_var.pug",
        "src/pug/lib/_mixin.pug",
        "src/pug/base/_head_curse.pug",
        "src/pug/base/_header.pug",
        "src/pug/components/curso/into-ashtanga/index/_hero.pug",
        "src/pug/components/curso/into-ashtanga/index/_left.pug",
        "src/pug/components/curso/into-ashtanga/index/_meta_right.pug",
        "src/pug/components/curso/_line.pug",
        "src/pug/components/curso/into-ashtanga/index/_faq.pug",
        "src/pug/components/index/_fund.pug",
        "src/pug/base/_footer.pug",
        "src/pug/components/_footer_firm.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}