section.o-hero.-alert
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.-alert Sobre el Ashtanga Yoga
   .a-heroContent__text.a-noPadding
    h3.-alert El Yoga puede ser definido como un conjunto de enseñanzas y técnicas cuyo estudio y práctica ayudan al mejoramiento humano. El Yoga es uno, pero podemos encontrar una gran cantidad de métodos, enfoques y aproximaciones dentro del mismo.
  .m-heroContent__img
   .img-index

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Sigue leyendo