section.o-hero.-alert
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.-alert Sobre el Ashtanga Yoga
   .a-heroContent__text.a-noPadding
    h3.-alert El Yoga es uno, pero dentro de él vamos a encontrar diferentes métodos, escuelas o estilos. El Ashtanga Yoga es uno de esos métodos que podemos conseguir.
  .m-heroContent__img
   .m-heroContentImg
    img.-alert(src=linksUrl[1]+"assets/img/doddles/girl_ashtanga.png", alt="Ilustración de mujer en pose guerrero uno")
   .m-squarePoints
    .a-squarePointsW

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Sigue leyendo para que conozcas más sobre este método