section.o-blogText.-padMdTopBottom
 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Sobre el Ashtanga Yoga
  .m-textContent__text
   p La escuela o tradición del Ashtanga Yoga, o Ashtanga Vinyasa Yoga como también se le llama para diferenciarla del Ashtanga Yoga clásico, fue fundada por el maestro hindú Krishna Pattabhi Jois, que fue alumno directo de quien se concibe hoy como el padre del yoga moderno, el maestro Tirumalai Krishnamacharya.
   p Otros alumnos destacados de Krishnamacharya, fueron el maestro B.K.S. Iyengar, quien fundó la escuela Iyengar Yoga; Indra Devi, la primera mujer que enseñó yoga en Occidente; T.K.V. Desikachar (hijo de Krishnamacharya), quien desarrolló la escuela Vini Yoga; y Srivatsa Ramaswami, quien es uno de los pocos discípulos directos de Krishnamacharya aún vivo y que se ha encargado de difundir el llamado Vinyasa Krama Yoga.
   p Nótese que cada alumno de Krishnamacharya desarrolló posterior a su entrenamiento con él, un método particular de acuerdo a su entendimiento y desarrollo de la práctica conforme al cuál llevó a cabo su labor de enseñanza.
   p La práctica de posturas de Yoga en el Ashtanga Yoga es bastante vigorosa y dinámica, durante su ejecución el practicante suda notablemente, lo que tiene un efecto purificador y desintoxicante en el cuerpo, experimenta una especie de meditación en movimiento que produce mucha calma y claridad metal, a la vez que se siente un incremento de energía y una sensación de ligereza que se mantiene durante horas después de haber culminado la práctica física.
   p La mayoría de los años que llevo estudiando y practicando Yoga, lo he hecho según el método del Ashtanga Yoga. Y es en base a mi experiencia con este método que comparto y enseño a otras personas.  Mi afinidad con este método se debe entre varios aspectos a lo siguiente:

  .m-textContent__list.-counterContainer
   ol.m-listContent.-counter
    li.a-donateItem: p Está basado en un grupo de secuencias de posturas fijas, llamadas series. Cada serie se ejecuta de principio a fin, sincronizando cada movimiento una de las fases de la respiración, inhalación o exhalación. Esta respiración acompasada o ritmica desarrolla la concentración, calma la mente, oxigena el cuerpo, fortalece nuestro sistema nervioso autónomo y conduce a la auto observación.
    li.a-donateItem: p La práctica de posturas en el Ashtanga Yoga implica memorizar la serie de posturas preestablecidas que estamos aprendiendo y realizarla de la misma forma todos los días.  Son 6 series que se aprenden una a la vez, se debe dominar la primera serie para poder pasar a la segunda y así sucesivamente.
     p De la misma manera, cuando se está aprendiendo cada serie, al principio la práctica es corta porque comenzamos a aprender las primeras posturas, y progresivamente vamos agregando las que le siguen, en la medida que vayamos teniendo dominio de cada una de ellas, es decir mientras no hemos dominado medianamente una postura procuramos no pasar a la siguiente.
     p De esta manera cada practicante, va construyendo de forma progresiva una práctica personal que puede hacer a diario en donde se encuentre, de una manera relativamente más segura que cuando se meten en una clase de yoga a tratar de hacer todas las posturas que indica un profesor.
    li.a-donateItem: p Además de las posturas, el grueso de las bases filosóficas de este método se sientan directamente en el Ashtanga Yoga clásico sistematizado por el sabio Patanjali, que se encuentra contenido en el texto titulado Yoga Sutras.
     p Esto conecta rápidamente al estudiante con la filosofía del Yoga, la cual va más allá de las posturas. Le permite conocer que éstas son solo 1 de los 8 componentes dentro del Yoga, y lo motiva a empezar a profundizar en los 7 componentes restantes que en resumen implican la práctica de una ética personal y social, el estudio y desarrollo de la mente; y en definitiva, la dedicación a la senda de la auto-realización del Ser.
  .m-textContent__img
   img.a-blogText__img(src=linksUrl[1]+"assets/img/info/info_002.png", alt="Yogaiskra en pose uthana padasana (yoga)")