section.o-hero.-cursoIndex
 .m-heroContent.-cursoIndex
  .m-heroContent__cover.m-heroBanners
   //-video(autoplay, muted, loop, class="a-heroContent__video", aria-hidden="true", src=linksUrl[1]+"assets/video/video.mp4")
   //- video(autoplay, muted, loop, class="a-heroContent__video", aria-hidden="true", src="../recursos/video/secuencia_3.mp4")
   video(autoplay, muted, loop, class="a-heroContent__video", aria-hidden="true", src=linksUrl[1]+"assets/video/secuencia_3.mp4")
   img(class="a-heroContent__img", loading="lazy", src=linksUrl[1]+"assets/img/yogaiskra_alumnos_10.jpg", alt="")
   .m-heroContent__content
    .m-heroContent__titles.-ContainerUniversal
     h1 Explora tu interior
     h3 Mí equipo y yo creemos en el gran PODER DEL DAR, todos nuestros cursos son producidos a bases de donaciones 1x1, quiere decir que por cada donación que recibamos para la producción de un curso daremos un acceso al donante y otro de forma gratuita a una persona que haya hecho una Solicitud de Beca para realizarlo.
