section.o-hero.-course
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.-colorW Cursos en línea
   .a-heroContent__text
    h3.-colorW Quiero compartir y enseñar a muchas más personas, sin que el distanciamiento físico o el factor económico sean impedimentos. Todos los cursos en línea que encontrarás aquí serán soportados por las donaciones y el apoyo de quienes quieran y puedan aportar.
  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/course/laptop_mb@0.5x.png", alt="")
   .m-circleLines
    .a-circleLinesW
   .m-squarePoints
    .a-squarePointsW

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Conecta con enseñanzas y técnicas que expanden la conciencia mientras nos apoyas para crear más y mejores cursos