section.o-problemStory.-padMdTopBottom.-course
 .o-problemStory__contentLeft.-ContainerUniversal
  .m-explainImg
   img(src=linksUrl[1]+"assets/img/doddles/girl_ashtanga_matblack.png", alt="Ilustración de Equipo de producción de Yoga")
  .m-explainContent
   .a-explainIcon
    img(src=linksUrl[1]+"assets/img/icons/play_video.svg", alt="")
   h2.a-explainTitle Cursos en línea de Ashtanga Yoga
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Ciclo Respira, Posa y Enfoca
   .a-explainContent
    p Te ofrecemos un Ciclo de 4 Cursos que lleva por nombre Respira, Posa y enfoca que originalmente fue diseñado por Yogaiskra para ser impartido de forma presencial, y ahora los tendremos en formato en línea.
    p El objetivo de todo el ciclo es que el participante adquiera el conocimiento teórico-práctico indispensable para construir de forma progresiva, coherente y segura, una práctica de posturas de yoga personal en base a la #[b.-bold Primera Serie del método del Ashtanga Yoga].
    p El lanzamiento de cada curso se hará por separado de forma progresiva. Pronto estará disponible el Curso 1, haz clic en la tarjeta de abajo para ir a la descripción completa.