section.o-smExperience.-padSmTop.-padMdBottom
 .m-smExperience
  .m-smExperience__content
   h1.-colorPrimary Curso en línea
   h3 Ya empezamos la producción del Curso 1 de Iniciación en el Ashtanga Yoga.  Encuentra abajo la descripción de su contenido.
  .m-smExperience__img
   img(class="a-smExperience__img", src=linksUrl[1]+"assets/img/course/laptop_mb.png", alt="")
