section.o-smExperience.-padCoolTopBottom
 .m-smExperience
  .m-smExperience__content
   h1.-colorPrimary Curso en línea
   h3 Ya empezamos la producción del Curso 1 de Iniciación en el Ashtanga Yoga.  Encuentra abajo la descripción de su contenido.
  .m-smExperience__img
   img(class="a-smExperience__img", src="https://superhuman.com/build/f4ea923047f0c5a2c85168b0e8a4cbae.header-laptop.png", alt="")
