section.o-faqCourse.-padBgBottom
 .m-faqContent.-ContainerUniversal
  .m-faqContent__title
   h2.a-problemTitle Preguntas frecuentes
  div(class="o-article__wrapper", data-artucle-title="overview")
   div(class="tab-pane fade show active", id="pills-home" role="tabpanel", aria-labelledby="pills-home-tab")
    ol(class="wow fadeInUp faq-list", style="visibility: visible; animation-name: fadeInUp;")
     li
      +nameFaq("faq1","¿Quieres comenzar este curso ahora mismo?")
      .collapse#faq1
       p Todos nuestros cursos en línea son soportados por las donaciones de quienes puedan y deseen apoyar, revisa las opciones que te damos para apoyarnos y sigue las instrucciones para que comiences a realizar tu curso lo más rápido posible.
       .a-button.-padSmTopBottom
        a.-outlinePrimary(href=linksUrl[1]+linksInternos[1]) Ir a cómo apoyar
       p Si quieres hacer uno de nuestros cursos, pero #[b.-bold no puedes donar en estos momentos,] no te preocupes, escríbeme a #[a.-colorPrimary(href="mailto:info@yogaiskra.com") info@yogaiskra.com] cuéntame cómo piensas que te puede ayudar este curso o por qué quieres hacerlo y te daremos acceso bajo la modalidad de #[b.-bold Beca]

     li
      +nameFaq("faq2","¿Quiénes pueden hacer este curso?")
      .collapse#faq2
       p Toda persona mayor de 14 años en adelante saludable sin limitaciones de movilidad física severas y que no tenga contraindicado ejercicios de medio y alto impacto.  No necesitas ser flexible, ni una edad o rango de peso en particular.  Si tienes más de 5 meses de embarazo, por favor escribe a #[a.-colorPrimary(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para que te enviemos información adicional de cómo modificar algunas de las posturas que aprenderás en este curso.

     li
      +nameFaq("faq3","¿Qué implementos necesito?")
      .collapse#faq3
       p Ropa cómoda, un mat o esterilla de yoga, que puedes sustituir por una alfombra o toalla grande que no tienda a resbalar.  Papel y lápiz si deseas anotar.  Ganas de aprender!