section.o-hero.-coursePage
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Iniciación en el Ashtanga Yoga
   .a-heroContent__text
    h3 Este curso en línea es para ti, si buscas iniciar desde cero una práctica de postura de yoga en casa o repasar tus conocimientos acerca de los fundamentos del método del Ashtanga Yoga.
   .a-heroContent__button
    .a-button.a-noMargin
     a.-wierdPrimary(href=linksUrl[1]) Iniciar Sesión
      span.a-arrowRight
   //- .m-heroContent__release
    .a-heroContent__time
     .a-calendar
    .a-heroContent__text
     h3 Fecha de lanzamiento:
      br
      | 25 - Julio - 2020

  .m-heroContent__trailer.m-heroContent__img
   .m-heroCourse__video
    iframe(class="a-heroContent__youtube", src="https://www.youtube.com/embed/3r9b7Kqgk1s", frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .-courseHero.m-circleLines
     .a-circleLines
    .-courseHero.m-squarePoints
     .a-squarePoints
    .-courseHero.m-aquariusFlow
     .a-aquariusFlow

//- .o-heroWave
 svg(width="100%", height="24px", class="m-mountain")
  pattern#m-waveSvg(x="0px", width="150px", height="24px", patternUnits="userSpaceOnUse")
   path(fill="#ffe2ff", d="M 0,24 C 30,24 40,0 75,0 S 120,24 150,24")
  rect(width="100%", height="100%" fill="url(#m-waveSvg)")
