section.o-hero.-coursePage
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Iniciación en el Ashtanga Yoga
   .a-heroContent__text
    h3 Este curso en línea es para ti, si buscas iniciar desde cero una práctica de postura de yoga en casa o repasar tus conocimientos acerca de los fundamentos del método del Ashtanga Yoga.
   .a-heroContent__button
    .a-button.a-noMargin
     a.-wierdPrimary(href=linksUrl[1]) Iniciar Sesión
      span.a-arrowRight

  .m-heroContent__trailer.m-heroContent__img
   .m-heroCourse__video
    iframe(class="a-heroContent__youtube", src="https://www.youtube.com/embed/i1vzYYaSUfw", frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .-courseHero.m-circleLines
     .a-circleLines
    .-courseHero.m-squarePoints
     .a-squarePoints
    .-courseHero.m-aquariusFlow
     .a-aquariusFlow