section.o-hero.-coursePage
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Iniciación en el Ashtanga Yoga
   .a-heroContent__text
    h3 Proporcionar los conceptos y fundamentos de la práctica del Ashtanga Yoga para iniciar de la mejor manera posible e ir construyendo en casa de forma progresiva una práctica personal de yoga coherente y segura en base a la Primera Serie.
   .m-heroContent__release
    .a-heroContent__time
     .a-calendar
    .a-heroContent__text
     h3 Fecha de lanzamiento:
      br
      | 13 - Marzo - 2020

  .m-heroContent__trailer.m-heroContent__img
   .m-heroCourse__video
    iframe(class="a-heroContent__youtube", src="https://www.youtube.com/embed/3r9b7Kqgk1s", frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .-courseHero.m-circleLines
     .a-circleLines
    .-courseHero.m-squarePoints
     .a-squarePoints
    .-courseHero.m-aquariusFlow
     .a-aquariusFlow