section.o-aboutCourse
 .m-aboutCourse__title
  h2.a-problemTitle Acerca del curso
  .m-aboutCourse__text.-spaceParagraph
   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptate tenetur quos, neque magni, culpa omnis cupiditate velit, libero eum veniam debitis. Laborum soluta quisquam consequuntur rem fugit ad ipsum!
   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptate tenetur quos, neque magni, culpa omnis cupiditate velit, libero eum veniam debitis. Laborum soluta quisquam consequuntur rem fugit ad ipsum! Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor.

 .m-aboutCourse__extras
  .m-aboutCourse__material
   .a-info
   h3 Materiales externos entregados: #[br] 1 material

  .a-border.-padSmTopBottom
   .-borderBottom

  .m-aboutCourse__time
   .a-calendarWeek
   h3 Tiempo de duración del curso: #[br] Siete (7) días

 .m-aboutCourse__action
  h2.a-colorPhrase We recommend students are with yoga

 .m-aboutCourse__content.-padMdTopBottom
  h2.a-problemTitle Contenidos
  .m-aboutCourse__things.-padSmTop
   .m-contentTimeline
    .a-lineRect
   .m-contentExplain
    +contentCounter("Introducción: Un sólo Yoga, muchos métodos", "15")
    +contentCounter("Asanas, una de las 8 ramas del Ashtanga Yoga de Patanjali", "30")
    +contentCounter("Historia del Ashtanga Yoga y aspectos básicos sobre la práctica de posturas","15")
    +contentCounter("El Método Tristana: Respiración, postura y enfoque de la mirada", "30")
    +contentCounter("Mantras de Apertura y Cierre", "10")
    +contentCounter("Práctica de Iniciación", "40")
    +contentCounter("Lecturas recomendadas", "10")
   //- .m-contentMore
    .a-button
     a.-outlineSecondary(href=linksUrl[1]+linksInternos[1]) Ver más