section.o-metadataCourse
 .m-metadataCourse__levels
  .m-levelsCourse
   .a-easy
   h3 Dificultad: #[br] Fácil
  .m-onlineCourse
   .a-mobile
   h3 Curso 100% online
 
 .a-border.-padSmTopBottom
  .-borderBottom
 
 .m-metadataCourse__teacher
  .m-metadataCourse__profile
   img.a-course__profile(src=linksUrl[1]+"assets/img/profesora/profe_yogaiskra.png", alt="")
  .m-metadataCourse__text.-spaceParagraph
   h3 Yogaiskra
   span.a-problemSubtitle__text Profesora de Ashtanga yoga, filosofía y influencer
   .-padSmTop
   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic neque nesciunt eveniet, veritatis, laudantium dicta beatae velit temporibus at quisquam impedit facere quos sit. Quis impedit repudiandae ipsum ipsa quisquam.
   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic neque nesciunt eveniet, veritatis, laudantium dicta beatae velit temporibus at quisquam impedit facere quos sit.

 .a-border.-padSmTopBottom
  .-borderBottom

 .m-metadataCourse__info
  .a-info
  h3 Donación 1x1: #[br] Dieciseis dólares (16 $ USD)