.collapse#faq2.-spaceParagraph
 p Āsanas es el nombre en sánscrito de las posturas de Yoga. En occidente cuando alguien dice que practica Yoga, la gran mayoría lo asocia sólo con posturas en donde las personas estiran, flexionan y tuercen sus cuerpos. Más recientemente, algunos ya saben que también implica algo de ejercicios respiratorios y de relajación o meditación.
 p No obstante, como se dijo en la sección anterior, el Yoga es un Sistema Filosófico, que ofrece un conjunto de técnicas, cuyo objetivo es la realización del Ser, la liberación del Espíritu, el cese del sufrimiento, la conexión con la Divinidad. Puede que muchos no estén interesados en este fin, que les resulte un tema un tanto esotérico y fuera de sus intereses; sin embargo, sin adentrarse en estas profundidades, también es válido que cualquier hombre o mujer se interese en practicar Yoga, ya que genera incontables beneficios físicos, mentales y emocionales.
 p Ahora bien, la gran mayoría de los métodos de Yoga que conocemos en la era actual, tienen sus bases en lo que el sabio Patañjalí denominó “Ashtanga Yoga” en el texto de los Yoga Sūtras, al cual también hicimos referencia arriba.
 p.-italic.-center.-colorPrimary.-superbold Ashta = Ocho + Anga = limbo o rama ⇒ Ashtanga
 p El Ashtanga Yoga es el Yoga de los 8 limbos o ramas. En el sūtra II.29 Patañjali enuncia estas ramas:

 .m-textContent__list.-counterContainer
  ol.m-listContent.-counter.a-noPadding
   li.a-donateItem: p.a-noPadding #[b.-bold Yama:] Trata de la ética social y son cinco Yamas: No violencia, Honestidad, elNo robar, Control de la energía sexual, Ausencia de codicia
   li.a-donateItem: p.a-noPadding #[b.-bold Niyama:] Trata de la ética personal y también son cinco Niyamas: Limpieza, Contento, Deseo ardiente aplicado a la práctica, Estudio de textos y del Sí mismo, Entrega a Dios
   li.a-donateItem: p.a-noPadding #[b.-bold Āsana:] Posturas
   li.a-donateItem: p.a-noPadding #[b.-bold Prānāyāma:] Control respiratorio
   li.a-donateItem: p.a-noPadding #[b.-bold Pratyāhāra:] Introspección, control de los sentidos, liberación de la mente del dominio de los sentidos y los órganos de percepción externos
   li.a-donateItem: p.a-noPadding #[b.-bold Dhāraṇā:] Concentración
   li.a-donateItem: p.a-noPadding #[b.-bold Dhyāna:] Concentración
   li.a-donateItem: p.a-noPadding #[b.-bold Samādhi:] Absorción total, paz total, iluminación

 p Āsana es entonces el tercero de los 8 limbos y puede traducirse del sánscrito como “asiento” o “sentado”. Las primeras evidencias escritas de la práctica de āsanas asociadas al Yoga provienen de textos védicos que datan de un período comprendido entre los años 3.000 y 1.200 antes de Cristo (a. de C.), en donde se describe a los ascetas sentados con las piernas cruzadas y las plantas de los pies hacia arriba, es decir, en postura de Loto o Padmasana; refiriéndose a ésta como la forma que ha de asumirse para que la Divinidad inunde el cuerpo. Con el paso del tiempo se observan rastros de diferentes posturas en diversos textos sagrados y filosóficos. No obstante, se debe decir, que no hay una vasta evidencia antigua de la gran cantidad de posturas que se conocen hoy día. Esto se fundamenta en que la enseñanza de los āsanas tradicionalmente se hacía por transmisión oral de maestro a alumno.
 p Muchos estudiosos coinciden en que se puede distinguir entre dos grandes grupos de āsanas, las que purifican el cuerpo y las empleadas para meditar.
 p En todo caso, para el practicante de yoga es fundamental entender que el objetivo primordial de la práctica de posturas o āsanas dentro de las disciplinas yóguicas que derivan del Ashtanga Yoga descrito por Patañjali, es entrenar la mente para liberarnos de su constante diálogo interno y del abrumador ir y venir de los pensamientos. La calma mental, la capacidad para concentrarnos y liberarnos de los estímulos y sensaciones externas, es requisito indispensable para la auto-realización a la que apunta el Yoga.
 p Ahora bien, al mismo tiempo que se entrena la mente con la práctica de posturas, se producen efectos que benefician en gran medida al cuerpo físico, su dimensión energética y la actitud del individuo frente a situaciones cotidianas; entre estos beneficios podemos enunciar los siguientes:

 .m-textContent__list
  ol.m-listContent.-bullet.a-noPadding
   li.a-donateItem: p.a-noPadding Mejora las condiciones físicas de fuerza, flexibilidad y agilidad
   li.a-donateItem: p.a-noPadding Corrige malos hábitos de posturas y alivia los dolores causados por éstos
   li.a-donateItem: p.a-noPadding Disminuye dolores musculares y crónicos causados por enfermedades como la artritis, osteoporosis, fibromialgia, entre otras
   li.a-donateItem: p.a-noPadding Mejora el sentido del equilibrio
   li.a-donateItem: p.a-noPadding Regula la presión arterial
   li.a-donateItem: p.a-noPadding Beneficia al corazón y al sistema cardiovascular
   li.a-donateItem: p.a-noPadding Incrementa la energía y el vigor
   li.a-donateItem: p.a-noPadding Reduce el estrés y la reactividad
   li.a-donateItem: p.a-noPadding Disminuye la tensión, la ansiedad y la preocupación
   li.a-donateItem: p.a-noPadding Causa sensación de bienestar, mejora la autoestima y la empatía con los demás

 p En esta sección, quien escribe considera de suma importancia hablar sobre la dificultad y el dolor asociado a la práctica, ya que muchos principiantes y también practicantes de estilos de yoga más modernos, perciben el Ashtanga Yoga como un método extremadamente exigente y riguroso. Primero se debe decir que la perfección en la ejecución de una postura no radica en su apariencia física, si no en la capacidad de realizarla con firmeza y comodidad al mismo tiempo, tal como lo indica el Yoga Sūtra II.46, en donde los comentaristas dicen que Patañjalí define el āsana perfecta con la frase:
 p.-italic.-center.-colorPrimary.-superbold “Sthira sukham āsanam”
 p Esto quiere decir que la postura debe sentirse confortable, no debe agredir al cuerpo; sin embargo, no significa que pueda hacerse como sea, o que cualquiera postura valga. En el siguiente Yoga Sūtra, el II.47, Patañjali aclara cómo se consigue la perfección del āsana, el maestro BKS Iyengar lo ha traducido así:
 p.-italic.-center.-colorPrimary.-mW-80.marLRAuto.-superbold “Se alcanza la perfección del āsana cuando el esfuerzo por realizarla se torna no esfuerzo y se alcanza el ser infinito interior”
 p Parece indicar entonces, que la técnica exige pasar por el esfuerzo, la disciplina y la constancia para obtener los resultados esperados. Es algo lógico si se piensa, ya que la maestría de cualquier cosa en la vida, salvo muy pocas excepciones, requiere de esfuerzo, dedicación, constancia, de ciertos sacrificios e incomodidades. Por qué ha de ser diferente en el caso de la realización espiritual. Como dice el sabio maestro de yoga español Ramiro Calle “El objetivo es el No Método, pero para llegar al No Método hay que contar con un Método”. El método del Ashtanga Yoga propone que a través del perfeccionamiento del āsana, en el sentido que lo ha definido Patañjali, entrenemos la mente para trascender nuestra identificación con el cuerpo físico, y así poder adentrarnos en planos más profundos de nuestro ser hasta conectarnos con nuestro espíritu.
