.collapse#faq5.-spaceParagraph
 .m-textContent__list.-counterContainer.-padXsTop
  ol.m-listContent.-counter.a-noPadding
   li.a-donateItem
    h3 La Respiración
    p Siempre se ha hablado sobre la conexión que hay entre la respiración y la mente. Desde la antigüedad, los sabios yoguis ya habían profundizado en esto. Respiraciones cortas y agitadas son signo de una mente intranquila, respiraciones profundas y largas se traducen en una mente calmada.
    p Prānāyāma, o ejercicios de control respiratorios, es el cuarto limbo del Ashtanga Yoga de Patañjali. Se considera que a través de la respiración nuestros cuerpos se llenan de Prana, que es la energía vital que le da vida a todo lo que existe en el universo, y a través de la cual podemos penetrar niveles más profundos de nuestra conciencia y existencia.
    p El prana circula por el cuerpo a través de canales de energías que en sánscrito se han llamado Nadis y se ha dicho que hay 72.000 de ellos a lo largo y ancho de todo el cuerpo. Existe un Nadi principal, llamado Shusuma Nadi, que se ubica a lo largo de la columna vertebral. Y otros dos que conjuntamente con el primero serían los tres más importantes, Ida y Pingala Nadi que se encuentran dispuestos a izquierda y derecha de nuestro eje central vertical, respectivamente.
    p Tomar conciencia de la respiración en silencio e identificarnos con sus movimientos, ha sido desde siempre un método común y altamente valorado en lo que a técnicas de concentración y meditación se refiere, no ha de extrañarnos que la respiración resulte ser uno de los 3 aspectos fundamentales de la práctica de posturas en el Ashtanga Yoga.
    p Con relación a la respiración dentro del Método Tristana se debe hablar de dos aspectos: La técnica denominada Vinyasa; y la respiración sonora inspirada en la Respiración Victoriosa o Prānāyāma Ujjayi.

     ol.m-listContent.-bullet.a-noPadding
      li.a-donateItem
       h3 El Vinyasa
       p Se le llama Vinyasa a la sincronización de la respiración con los movimientos que se realizan durante la práctica de posturas. Se suele hacer referencia a esta técnica con la frase: Una respiración, un movimiento. Es una indicación que aparece claramente descrita en el texto Hatha Yoga Pradipika.
       p Como regla general se inhala cuando el cuerpo hace movimientos ascendentes o se estira; y se exhala cuando el cuerpo hace movimientos descendentes, se contrae o pliega.
       p También se acostumbra usar el término Vinyasa para referirse a las transiciones que se realizan entre posturas dentro de las series.

      li.a-donateItem
       h3 Respiración sonora
       p Por otra parte, se indica que debemos respirar siempre por la nariz, de forma profunda y sonora. En tiempos iguales al inhalar y al exhalar. Se suele decir que este tipo de respiración se inspira en la técnica respiratoria de prānāyāma Ujjayi o respiración victoriosa, que implica la contracción de la glotis, que es lo que hace que se produzca un sonido, cuando el aire pasa por la garganta, parecido al del conocido personaje de la película de Star War, Dart Vader.
       p Este sonido que recuerda también el que hacen las olas del mar, propicia la relajación y la calma mental.

   li.a-donateItem
    h3 Las Posturas
    p Las posturas o āsanas han sido concebidas para fortalecer y flexibilizar el cuerpo físico, pero también para limpiarlo de toxinas y otras sustancias que se van acumulando con el tiempo. Cómo dice Kino Macgregor en su libro “El Poder del Ashtanga Yoga”, tal como se acumula la comida en los dientes cuando no nos cepillamos o no lo hacemos adecuadamente, así ocurre con algunas sustancias tóxicas que ingerimos o produce nuestro propio cuerpo.
    p La práctica de āsanas aviva un calor interno que quema y expulsa a través del sudor las sustancias toxicas acumuladas en el cuerpo. Pero no sólo ocurre una limpieza a nivel físico, también en planos más sutiles se verifica una especie de barrido energético, en donde se eliminan patrones mentales y emocionales negativos, impresiones y tendencias insanas que evitan que nos conectemos con la fuente Divina que reside en nuestro interior.
    p En general, el repertorio de posturas de yoga que existe en bien extenso, pero hay un grupo de ellas que son las más comunes y que, no por ser comunes, son pocas. El Ashtanga Yoga, contempla la ejecución de gran parte de estas posturas, en las 6 series que lo componen, con un orden o jerarquía específico. Algo importante que hay que aclarar es que una misma postura puede tener una buena cantidad de variaciones, versiones y adaptaciones, y sin embargo, tener los mismos efectos. Además, una misma postura no luce igual en todos los cuerpos. Así que en el Ashtanga Yoga ejecutaremos las posturas de acuerdo a lo que dicta la serie y las instrucciones del profesor, pero siempre habrá cabida para la adaptación o la variación en función de las particularidades de cada estudiante, e inclusive, de acuerdo a la experiencia del profesor o maestro.
    p Otro aspecto importante con relación a las posturas de acuerdo al Ashtanga Yoga, también es su hincapié en el control de la energía que fluye a través del cuerpo durante la práctica, por medio de los Bandhas, que son bloqueos energéticos que se dan con la contracción muscular de zonas específicas del cuerpo. En realidad, este control es más sutil que físico, es decir, ocurre más a nivel energético, su empleo dinamiza el recorrido de la energía por esos canales que llaman Nadis.
    p Son tres estos bloqueos energéticos o Bandhas:

    ol.m-listContent.-bullet.a-noPadding
      li.a-donateItem: p Mula Bandha o Bloqueo Raíz, que implica a nivel físico la contracción del suelo pélvico;
      li.a-donateItem: p Uddiyana Bandha o Bloqueo Ascendente, aquí la contracción muscular radica en la elevación y succión del abdomen bajo; y
      li.a-donateItem: p Jalandhara Bandha o Bloqueo de Garganta o Mentón, que se hace con menos frecuencia pero ocurre de forma natural en posturas como Salamba Sarvangasana (la vela) y Adho Mukha Svanasana (Perro que mira hacia abajo), por ejemplo.

   li.a-donateItem
    h3 La mirada fija en un punto o Drishti
    p Es el tercer elemento del llamado Método Tristana. La palabra Drishti puede traducirse del sánscrito como “Visión”, la que ocurre en nuestro interior, la perceptiva, penetrativa, intuitiva.
    p Nuestra mente está dirigida por defecto hacia el exterior, a través de los órganos de acción y de percepción. La mirada y los ojos son parte de estos órganos. Una mirada que va saltando posándose de sitio en sitio de forma constante, es señal de una mente distraída, desconcentrada y dispersa. Por el contrario una mirada fija, enfocada en un punto único favorece la concentración y calma el flujo de pensamientos, permitiendo mayor balance físico e introspección.
    p En la práctica de āsanas del Ashtanga Yoga, cada postura tiene asignado un Drishti específico, y cada uno de ellos, aparte de centrar la atención del practicante, estimula y canaliza el movimiento de la energía a través del cuerpo de una forma particular.
    p En el Ashtanga Yoga se manejan nueve Drishtis:

    ol.m-listContent.-bullet.a-noPadding
      li.a-donateItem: p Mirada hacia el entrecejo, broomadhya drishti
      li.a-donateItem: p Mirada hacia arriba, urdhva o antara drishti
      li.a-donateItem: p Mirada hacia la punta de la nariz, nasagrai drishti
      li.a-donateItem: p Mirada hacia el ombligo, navi chakra drishti
      li.a-donateItem: p Mirada hacia los dedos de las manos, hastagrai drishti
      li.a-donateItem: p Mirada hacia los dedos de los pies, padhayoragrai drishti
      li.a-donateItem: p Mirada hacia los pulgares, angustha ma dyai drishti
      li.a-donateItem: p Mirada hacia el lado derecho o izquierdo, parsva drishti

    p Solo durante Savasana (que es Sukhasana en el Ashtanga Yoga) se cierran los ojos.