.collapse#faq6.-spaceParagraph
 h3 Estructura de la Práctica
 p Tal como se explicó antes, las posturas o āsanas en el Ashtanga Yoga están agrupada en 6 series que poseen un orden o secuencia fija para su ejecución. Todas las series tienen la misma estructura:
 .m-textContent__list
  ol.m-listContent.-bullet.a-noPadding
   li.a-donateItem: p.a-noPadding Saludos al sol A y B
   li.a-donateItem: p.a-noPadding Posturas de pie
   li.a-donateItem: p.a-noPadding Posturas de piso o sentados
   li.a-donateItem: p.a-noPadding Extensiones de espaldas (arcos)
   li.a-donateItem: p.a-noPadding Secuencia final

 p Siempre se comienza con los Saludos al Sol o Surya Namaskara, hay dos versiones: A y B. Se hacen cinco de cada uno en cada sesión de autopráctica o estilo mysore, y en las prácticas guiadas se suelen hacer 5 del A y 3 del B. En todas las series se inicia la sesión con la ejecución de los Saludos al Sol.
 p Luego se hacen las Posturas de pie. Estas posturas igual se repiten en todas las series, hasta una postura que llama Parsvottanasa.
 p Seguidamente se pasa a las Posturas de piso, y es aquí en esta sección en que se diferencian las series. Cada serie en esta parte de la práctica posee sus posturas y secuencia propias que son diferentes a las demás series.
 p Después de las posturas anteriores, se pasa a las Extensiones de espalda, arcos o puentes. Esta sección se repite en todas las series.
 p Y, por último, se realiza la secuencia final, que son en su mayoría posturas invertidas hasta llegar a la relajación de cierre, acostados en posturas de cadáver, Savasana o Sukhasana como se le llama en el Ashtanga Yoga. Esta sección también es igual en todas las series.

 .a-border.-padXsTopBottom.-padSmNow
  .-borderBottom

 h3.-padSmTop Mantra de Apertura "Vande Gurūṇām"
 p.-padXsTop Om
 p Vande gurūṇāṃ charaṇāravinde
 p Saṃdarshita svātma sukhāva bodhe
 p Niḥ sreyase jāngalikāyamāne
 p Saṃsāra hālā hala moha shāntyai
 p Ābāhu Purushākāraṃ
 p Shankhachakārsi dhāriṇāṃ
 p Sahasra sirasaṃ svetaṃ
 p Praṇamāmi patañjalim
 p Om

 
 h3.-padSmTop Mantra de Apertura "Vande Gurūṇām" (traducción propuesta)
 p.-padXsTop Om
 p Adoro los pies de loto de todos los maestros (gurúes)
 p Que enseñan y despiertan la gran alegría del Ser elevado
 p Que actúan como médico de la jungla, encantador de serpientes
 p Capaz de eliminar el veneno de la ignorancia y la ilusión del saṃsāra (ciclo de la vida y la muerte, la existencia condicionada)
 p Me postro, ante Patañjali, encarnación de Adisesa, que con su color blanco,
 p Mil cabezas radiantes (en su forma de serpiente divina, Ananta)
 p y su aspecto humano a partir de los hombros empuña la espada de la discriminación
 p junto a una rueda de fuego que simboliza el tiempo infinito y una caracola que
 p representa para él el sonido divino
 p Om

 .a-border.-padXsTopBottom.-padSmNow
  .-borderBottom

 h3.-padSmTop Mantra de Cierre Mangala Mantra
 p.-padXsTop Om
 p Svasti prajābhyaḥ paripālayantāṃ
 p Nyāyena mārgena mahiṃ mahishaḥ
 p Gobrāmaṇebhyaḥ shubhamastu nityaṃ
 p Lokāḥ samasthāḥ sukhino bhavantu
 p Om Santih Santih Santih
 
 h3.-padSmTop Mantra de Cierre Mangala Mantra (traducción propuesta)
 p.-padXsTop Om
 p Que todos los seres gocen de bienestar
 p Que los gobernantes guíen el mundo con ley y justicia
 p Que todas las cosas sagradas gocen de protección
 p Y que los habitantes de todos los mundos sean felices y prósperos.
 p Om

 .a-border.-padXsTopBottom.-padSmNow
  .-borderBottom

 h3.-padSmTop Bibliografía
 .m-textContent__list
  ol.m-listContent.-bullet.a-noPadding
   li.a-donateItem: p.a-noPadding BACHMAN, Nicolai (2012) #[b.-bold El Lenguaje del Yoga.] Editorial EDAF
   li.a-donateItem: p.a-noPadding IYENGAR, B.K.S. (2003) #[b.-bold Luz sobre los Yoga Sutras de Patañjali.] Editorial Kairos
   li.a-donateItem: p.a-noPadding JOIS, K. Pattabhi (2002) #[b.-bold Yoga Mala.] Editorial Norh Point Press
   li.a-donateItem: p.a-noPadding MACGREGOR, Kino (2013) #[b.-bold The Power of Ashtanga Yoga.] Shambhala Publications, Inc.
   li.a-donateItem: p.a-noPadding SATCHIDANANDA, Swami (2012) #[b.-bold The Yoga Sutras of Patanjali, Translation and commentary by Sri Swami Satchidananda.] Integral Yoga Publications
   li.a-donateItem: p.a-noPadding SWENSON, David (1999) #[b.-bold Ashtanga Yoga, The practice manual.] Ashtanga Yoga Producctions
