.collapse#faq7.-spaceParagraph
 h3 Recomendaciones para comenzar a practicar
 p A continuación, te dejo varias recomendaciones para que comiences la construcción de tu práctica de yoga personal en base a la Primera Serie del Ashtanga Yoga:

 .m-textContent__list
  ol.m-listContent.-bullet.a-noPadding
   li.a-donateItem: p.a-noPadding Si no tienes una práctica regular de algún otro estilo de Yoga, comienza practicando 3 días a la semana sólo los Saludos al Sol, 5 repeticiones del A y 3 repeticiones del B. Al terminar los saludos te sientas con las piernas cruzadas, en medio loto o loto completo según tu capacidad del momento, coloca las manos sobre tus rodillas con las palmas hacia arriba, mirada hacia la punta de la nariz, y realiza 10 respiraciones profundas en esta posición. Luego, por último, te acuestas en Savasana o postura de cadáver y te relajas de 5 a 10 minutos.
   li.a-donateItem: p.a-noPadding Después de 3 o 4 semanas de pura práctica de Saludos al Sol o cuando te sientas con la suficiente resistencia para hacer un poco más, intenta hacer la secuencia de iniciación completa que te dejo aquí y en el vídeo de este curso, en donde podrás observar variaciones más sencillas para la ejecución de cada postura, en el caso de que no tengas todavía la capacidad para ejecutarlas en toda su expresión.
   li.a-donateItem: p.a-noPadding Se recomienda hacer esta práctica en horas de la mañana, mientras más temprano mejor. Pero si solo tienes tiempo para hacerla en la tarde o en la noche, no hay problema, solo trata que tu práctica a estas horas sea más lenta y pausada, con respiraciones largas y profundas, para que no afecte tu patrón de sueño.
   li.a-donateItem: p.a-noPadding Procura que la última ingestión de comida sólida haya sido por lo menos 3 horas antes de iniciar tu práctica.
   li.a-donateItem: p.a-noPadding Toma agua antes o después de iniciar la sesión, procura no hacerlo durante su ejecución.
   li.a-donateItem: p.a-noPadding Se recomienda hacer la práctica con los pies descalzos, los zapatos no dejarán que las articulaciones de los pies se muevan con todo el rango que se requiere y las medias tiende a resbalar.

 p Cualquier mareo o dolor agudo durante la práctica detente y consulta con tu médico de confianza.
