section.o-hero.-error
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Lo sentimos, esta página no está disponible
   .a-heroContent__text
    h3 Todavía no está disponible esta página, sigue en construcción. Si quieres saber cuando estará disponible dejanos tu email quí para avisarte
   +mailChimp()
   

  .m-heroContent__img
   .img
    img(src="https://craft.atlassian.design/uploads/guidelines/brand/personality/Artboard-1.png", alt="")
