section.o-hero.-error
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Lo sentimos, esta sección tiene acceso restringido
   .a-heroContent__text
    h3 Para acceder debes contar con un usuario y contraseña. Nos puedes contactar a info@yogaiskra.com
   

  .m-heroContent__img
   .img
    img(src="https://craft.atlassian.design/uploads/guidelines/brand/personality/Artboard-1.png", alt="")
