section.o-card.-index.-padCoolTopBottom
 .-ContainerUniversal
  .m-cardTitle
   h2.m-cardTitle__title.a-problemTitle Se parte de la Corriente Despierta!
   .a-problemSubtitle
    span.a-problemSubtitle__text Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor.
  .m-cardBox
   +box(linksUrl[1]+linksInternos[4], "https://static.platzi.com/media/tmp/class-files/git/Desarrollo_web/Desarrollo_web-c18/images/ben1.png", "", "Cursos En línea", "Entérate de los cursos en línea que tenemos para tí, su descripción detallada y cómo acceder a cada uno de ellos.")
   +box(linksExternos[0], "https://static.platzi.com/media/tmp/class-files/git/Desarrollo_web/Desarrollo_web-c18/images/ben3.png", "", "Blog", "Lee acerca de diferentes temas relacionados con las enseñanzas y las técnicas que harán despertar tu conciencia.")
   +box(linksExternos[2], "https://podcasters.spotify.com/images/landing_page/feature-3.png", "", titles[8], "Acompáñame en el proceso de producción de mi podcast y videos, y obtén acceso a todos mis cursos, mientras me apoyas.")