section.o-card.-index.-padCoolTopBottom
 .-ContainerUniversal
  .m-cardTitle
   h2.m-cardTitle__title.a-problemTitle Se parte de la Corriente Despierta!
   .a-problemSubtitle
    p.a-problemSubtitle__text Conecta con conocimientos y técnicas que expanden la conciencia.  Diferentes vías para el mejoramiento humano que buscan desarrollar un estado de mayor lucidez, sabiduría, paz interior y comunión con el alma.
  .m-cardBox
   +box(linksUrl[1]+linksInternos[4], "_self", linksUrl[1]+"assets/img/icons/youtube.svg", "", "Cursos En línea", "Entérate de los cursos en línea que tenemos para tí, su descripción detallada y cómo acceder a cada uno de ellos.")
   +box(linksExternos[0], "_blank", linksUrl[1]+"assets/img/icons/blog.svg", "", "Blog", "Lee acerca de diferentes temas relacionados con las enseñanzas y las técnicas que harán despertar tu conciencia.")
   +box(linksExternos[2], "_blank", linksUrl[1]+"assets/img/icons/patreon_logo.svg", "", titles[8], "Acompáñame en el proceso de producción de mi podcast y videos, y obtén acceso a todos mis cursos, mientras me apoyas.")