section.-padBgBottom
 .m-fundBanner__container.-ContainerUniversal
  .m-fundBanner__explain
   p.-containerText Creo en el gran #[b.-bold Poder del dar y recibir], con tu apoyo mi equipo y yo podremos hacer más y mejor contenido gratuito
  .a-button
   a.-outlineSecondary(href=linksUrl[1]+linksInternos[1]) Cómo apoyar