//- section.o-fundBanner.-padRgTopBottom
 .m-fundBanner__container.-ContainerUniversal
  .m-fundBanner__explain
   h3 Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor.
  .a-button.pt-4
   a.-fillPrimary(href=linksUrl[1]) Donar

section.-padBgBottom
 .m-fundBanner__container.-ContainerUniversal
  .m-fundBanner__explain
   p.-containerText Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est.
  .a-button
   a.-outlineSecondary(href=linksUrl[1]+linksInternos[1]) Ir a donar ya!