section.o-hero.-index
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Una causa para relajar el cuerpo y el alma.
   .a-heroContent__text
    h3 Tus clientes están cambiando su manera de comprar y lo que compran ahora que pasan más tiempo en sus hogares. Estamos aquí para ayudarte con datos y recursos para que puedas tomar decisiones bien fundamentadas.
   .a-heroContent__button
    .a-button.a-noMargin
     a.-wierdPrimary(href=linksUrl[1]) Leer más
      span.a-arrowRight
  .m-heroContent__img
   .img-index

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Ayuda a un venezolano a pasar un tiempo de aprendizaje y relajación de esta pandemia