section.o-hero.-index
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Podemos mejorar y ayudar
   .a-heroContent__text
    h3 Vivimos tiempos de grandes retos como humanidad. Aún podemos encaminarnos hacia una transformación y un despertar de conciencia individual y colectivo. El Yoga y otras técnicas pueden ayudar.
   .a-heroContent__button
    .a-button.a-noMargin
     a.-wierdPrimary(href=linksUrl[1]+linksInternos[3]) Mi propuesta
      span.a-arrowRight
  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/doddles/home_doodle_01.png", alt="Ilustración de hero de mujer haciendo yoga")

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Conecta con la corriente de energía que despierta la conciencia, apóyanos y comparte para el beneficio de muchos
   