section.o-hero.-index
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Podemos cambiar y ayudar. Empienza ya!
   .a-heroContent__text
    h3 Vivimos tiempos de grandes retos, el COVID-19 nos ha colocado en una encrucijada como humanidad. Aún podemos encaminarnos hacia una transformación y un despertar de conciencia que nos permita evolucionar de forma individual y colectiva. La filosofía y la práctica del Yoga pueden ayudar.  Y también muchas otras enseñanzas y técnicas que queremos compartir.
   .a-heroContent__button
    .a-button.a-noMargin
     a.-wierdPrimary(href=linksUrl[1]+linksInternos[0]) Leer más
      span.a-arrowRight
  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/yogaiskra_marco_blue.png", alt="")

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-calltoActionText
   h3.a-calltoActionText__text.-index Nútrete con nuestro contenido. Expande tu conciencia y contribuye para que más seres se beneficien de esta Corriente Despierta
   