section.o-problemStory.-padCoolTopBottom
 .o-problemStory__contentRight.-ContainerUniversal
  .m-problemImg
   img(src=linksUrl[1]+"assets/img/home/yogaiskra_003.png", alt="")
  .m-problemContent
   .a-problemIcon
    img(src=linksUrl[1]+"assets/img/icons/yoga_symbol_wierd.svg", alt="")
   h2.a-problemTitle Sobre el Ashtanga Yoga
   .a-problemSubtitle
    span.a-problemSubtitle__text Práctica de posturas dinámica y meditativa
    .a-problemSubtitle__line.-right
   .a-problemContent
    p La mayoría de los años que llevo estudiando y practicando Yoga, lo he hecho según el método del Ashtanga Yoga. Y es en base a mi experiencia con este método que comparto y enseño a otras personas.
    p La práctica de posturas en el Ashtanga Yoga es dinámica y vigorosa, se suda notablemente, lo que purifica y desintoxica el cuerpo.  Se experimenta una meditación en movimiento que produce mucha calma y claridad metal, y un incremento de energía y de ligereza que se mantiene durante horas después de la práctica física.
    .a-button.-right
     a.-fillSecondary(href=linksUrl[1]+linksInternos[2]) Leer más
