section.o-problemStory.-padCoolTopBottom
 .o-problemStory__contentRight.-padBgBottom.-ContainerUniversal
  .m-problemImg
  .m-problemContent
   h2.a-problemTitle Vestibulum a ultricies tellus
   .a-problemSubtitle
    span.a-problemSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
    .a-problemSubtitle__line.-right
   .a-problemContent
    p In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    p Mauris efficitur, mauris at lobortis placerat, dui neque porta justo, at ultrices sem eros at nisl. Proin id ex mi. Morbi lorem nibh, viverra eu aliquam vel, viverra nec libero.
 
 .o-problemStory__contentLeft.-ContainerUniversal
  .m-explainImg
  .m-explainContent
   h2.a-explainTitle Vestibulum a ultricies tellus
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
   .a-explainContent
    p In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    p Mauris efficitur, mauris at lobortis placerat, dui neque porta justo, at ultrices sem eros at nisl. Proin id ex mi. Morbi lorem nibh, viverra eu aliquam vel, viverra nec libero.
    p By default, the cross axis is vertical. This means the flexbox items will be aligned vertically at the bottom.
   .a-button.-right
    a.-fillSecondary(href=linksUrl[1]) Leer más