//- Footer firm
.o-footerFirmDev.-content
 .justify-content-center.align-items-center.d-flex
  p Esta página fue hecha por
  a(href=monlogo[0], target="_blank"): button(class="btn -btnMonlogo", type="button") Monlogo