//- Footer firm
.o-footerFirmDev.-content
 .justify-content-center.align-items-center.d-flex
  p #{monlogo[1]}
  a(href=monlogo[0], target="_blank"): button(class="btn -btnMonlogo", type="button") Monlogo