include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
  meta(name="description", content="Monlogo creo esta página web para empresas que necesiten tener sus entrenamientos y archivos en la web")
  title Yogaiskra - Clases y conocimiento sobre en el yoga. Queremos que seas una mejor persona
 body.o-colorIndex

  //menu desktop
  include base/_header.pug

  // footer
   include base/_footer.pug