include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
  meta(name="og:title", content=titles[0]+" - Expande tu conciencia ahora")
  meta(name="og:description", content="Plataforma de cursos de yoga por Yogaiskra. Podcast y Blog con enseñazas y técnicas para el mejoramiento humano")
  meta(name="og:url", content="https://yogaiskra.com")
  meta(name="og:type", content="website")

  meta(name="googlebot-news", content="noindex")
  meta(name="title", content=titles[0]+" - Expande tu conciencia ahora")
  meta(name="description", content="Plataforma de cursos de yoga por Yogaiskra. Podcast y Blog con enseñazas y técnicas para el mejoramiento humano")
  title #{titles[0]} - Expande tu conciencia ahora
 body.o-colorIndex.-menuSticky

  // menu
  include base/_header.pug

  // hero
  include components/index/_hero.pug

  // problem
  include components/index/_problem.pug

  // podcast
  include components/index/_moreinfo.pug

  // solution
  //- include components/index/_solution.pug
  include components/index/_problem_two.pug

  // cards
  include components/index/_cards.pug

  // Fund
  include components/index/_fund.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include components/_contact_form.pug
  .-blur#contact1
   #contact2
    #contact3
     #contact4
      #contact

  // footer
  include base/_footer.pug