section.o-explainDonate.-padCoolTopBottom
 .m-donateContent.-ContainerUniversal
  .m-donateContent__method
   h2.a-explainTitle
    i.a-paypal
    | Método 1: Paypal
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
   .a-explainContent
    p In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
  .m-donateContent__help.-counterContainer
   ol.m-listContent.-counter
    li.a-donateItem In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. design and development websites. When you run a Carbon campaign.
    .m-textContent__img.a-paddingMd
     img.a-blogText__img(src=linksUrl[1]+"assets/img/paypalme_yogaiskra.png", alt="")
    li.a-donateItem In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus. Su sana distancia mantengala
    li.a-donateItem Reach tech audiences through an exclusive network of design and development websites. When you run a Carbon campaign, your brand appears across hundreds of communities, blogs, resources, and tools that your audience uses to level up their work.