section.o-hero
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Cómo apoyar
   .a-heroContent__text
    h3 Creo en el gran #[b.-bold Poder del dar y recibir], con tu apoyo mi equipo y yo podremos hacer más y mejor contenido, y llegar cada vez a más personas, para que se conecten con enseñanzas que despiertan la conciencia.
  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/doddles/donate_doodle.png", alt="")

section.o-callToAction.-donate
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-donate Selecciona la alternativa que esté a tu alcance para apoyarnos, así crearemos más y mejor contenido para muchos