section.o-hero
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Cómo ayudarnos en el proyecto
   .a-heroContent__text
    h3 Reach tech audiences through an exclusive network of design and development websites. When you run a Carbon campaign, your brand appears across hundreds of communities, blogs, resources, and tools that your audience uses to level up their work.
  .m-heroContent__img
   .img-index

section.o-callToAction.-donate
 .m-calltoActionContent.-ContainerUniversal
  .a-calltoActionText
   h3.a-calltoActionText__text.-donate Ayuda a un venezolano a pasar un tiempo de aprendizaje y relajación de esta pandemia