section.o-hero
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Cómo apoyar con el proyecto
   .a-heroContent__text
    h3 Creo en el gran #[b Poder del dar], puedes apoyarnos a mí y al equipo de personas que participan en el desarrollo de este sitio web y sus canales relacionados a través de las siguientes opciones
  .m-heroContent__img
   .img-index

section.o-callToAction.-donate
 .m-calltoActionContent.-ContainerUniversal
  .a-calltoActionText
   h3.a-calltoActionText__text.-donate Ayuda a un venezolano a pasar un tiempo de aprendizaje y relajación de esta pandemia