section.o-hero
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Cómo apoyar
   .a-heroContent__text
    h3 Creo en el gran #[b.-bold Poder del dar y recibir], con tu apoyo mi equipo y yo podremos hacer más y mejor contenido gratuito
  .m-heroContent__img
   .img-index

section.o-callToAction.-donate
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-donate  Apóyanos para poder dedicar más tiempo a desarrollar más y mejor contenido gratuito para muchas personas