section.o-problemStory.-padBgTop
 .o-problemStory__contentRight
  .m-problemImg
   img(src=linksUrl[1]+"assets/img/doddles/donate_002.png", alt="Ilustración de Equipo de producción de Yoga")
  .m-problemContent
   h2.a-problemTitle ¿Por qué solicito tu apoyo?
   .a-problemSubtitle
    span.a-problemSubtitle__text Yoga, filosofías, enseñanzas y técnicas
    .a-problemSubtitle__line.-right
   .a-problemContent
    p Mi persona y el equipo que me acompaña en el desarrollo de este sitio web y sus canales relacionados, realmente queremos aportar al bienestar individual y colectivo.
    p Buscamos que el distanciamiento físico y el factor económico no sean impedimentos para quienes deseen conectarse con las enseñanzas y técnicas para el mejoramiento humano que deseamos compartir.
    p No obstante, dedicarse a la creación de contenido de forma organizada, continua y con calidad, precisa de tiempo e inversión económica. Todos los miembros que conformamos este equipo debemos trabajar para generar parte del ingreso que sustentan nuestras familias.
    p Con los fondos que recaudemos de las donaciones de quienes puedan y deseen apoyar, podremos disminuir el tiempo que dedicamos a nuestros trabajos regulares para dedicarle más a este proyecto humano que nos llena tanto, y llegar cada vez a más personas.

