section.o-blogText.-padMdTopBottom
 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Te dejo varias alternativas para apoyarnos:

  .m-textContent__title.-padSmTop
   h3.a-problemTitle 1. Compartir nuestro contenido
  .m-textContent__text
   p Si no puedes donar, y te gusta mi contenido, no te preocupes, apóyanos compartiendo con otros mi sitio web y canales asociados.  Y disfruta de todo nuestro contenido gratuito.
  
  .m-textContent__title
   h3.a-problemTitle 2. Donar para la creación de más contenido gratuito para muchas personas
  .m-textContent__text
   p Con los fondos recaudados de estas donaciones podremos dedicar más tiempo e inversión económica a la creación de más y mejor contenido gratuito para muchos, tales como Podcast, Videos y Artículos para seguir compartiendo las enseñanzas y técnicas que pueden transformarnos en mejores seres.
   p Para donar tienes las siguientes opciones:
   
   .m-textContent__list
    ol.m-listContent.-arrow
     li.a-listContent #[h3.-bold Patreon:] Donando a través de Patreon tendrá acceso a todos los Curso en linea que vayamos produciendo, esta sera la plataforma en que publicaremos de forma prioritaria, nuestros cursos y por donde podrás tener mayor contacto directo conmigo, conversaremos, recibiré tus ideas para la producción de clases, cursos y podcast.  Accede con el siguiente link #[a(href=linksExternos[2]) patreon.com/yogaiskra]
     li.a-listContent #[h3.-bold Paypal:] Nos puedes enviar cualquier cantidad que tengas a bien, por una sola vez o mensualmente, a través de PayPal. Accede con el siguiente link
   p Si te interesa donar a través de #[b.-bold Zelle, Airtm o Pago móvil,] escríbenos a #[a(href="mailto:yoga.iskra@gmail.com") info@yogaiskra.com] para enviarte los datos respectivos.

  .m-textContent__title
   h3.a-problemTitle 3. Quieres pautar en nuestro Podcast
  .m-textContent__text
   p Podemos promocionar un producto o un servicio en cada episodio de mi Podcast (siempre que no atenten contra seres vivos y el medio ambiente, desde nuestra perspectiva). Para escribirnos, haz clic acá #[a(href="mailto:yoga.iskra@gmail.com") info@yogaiskra.com]

  .m-textContent__img
   img.a-blogText__img(src="https://craft.atlassian.design/uploads/guidelines/brand/personality/Artboard-1-copy-3.png", alt="")
