section.o-blogText.-padMdTopBottom
 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Cómo apoyar
  .m-textContent__text
   p Creo en el gran #[b.-bold Poder del dar], puedes apoyarnos a mí y al equipo de personas que participan en el desarrollo de este sitio web y sus canales relacionados a través de las siguientes opciones:
  
  .m-textContent__title
   h3.a-problemTitle Compartir nuestro contenido
  .m-textContent__text
   p  Si no puedes donar o contribuir, y te gusta mi contenido, no te preocupes, apóyanos compartiendo con otros mi sitio web y canales asociados.
  
  .m-textContent__title
   h3.a-problemTitle Donar para la creación de más contenido gratuito para muchas personas
  .m-textContent__text
   p Con los fondos recaudados de estas donaciones podremos dedicar más tiempo e inversión económica a la creación de mayor contenido gratuito y de mejorar su calidad, tales como Podcast, Videos y Artículos para seguir compartiendo las enseñanzas y técnicas que pueden transformarnos en mejores seres. 
   p Nos puedes enviar cualquier cantidad que tengas a bien, por una sola vez o mensualmente, a través de Patreon o PayPal.  Patreon es un sitio web para ayudar a creadores de contenido, te permite hacer uso de tarjeta de crédito y de débito internacionales.
   p Si quieres donar por Zelle o a una cuenta bancaria en bolívares, escríbenos a info@yogaiskra.com para enviarte los datos respectivos.
   
  .m-textContent__title
   h3.a-problemTitle Donar para la producción del Curso en línea: Iniciación en el Ashtanga Yoga
  .m-textContent__text
   p Con los fondos recaudados para este concepto invertiremos tiempo y dinero para producir el Curso en línea de Iniciación en el Ashtanga Yoga. Todos nuestros cursos son producidos a base de donaciones 1x1, quiere decir que por cada donación de 16 USD$ que recibamos para la producción de este curso daremos un acceso al donante y otro de forma gratuita a una persona que haya hecho una #[a(href="mailto:yoga.iskra@gmail.com") Solicitud de Beca]
   p Esta donación puede realizarse a través de Patreon a través de Patreon o PayPal.  Patreon es un sitio web para ayudar a creadores de contenido, te permite hacer uso de tarjeta de crédito y de débito internacionales.
   p Si quieres donar por Zelle o a una cuenta bancaria en bolívares, escríbenos a #[a(href="mailto:yoga.iskra@gmail.com") info@yogaiskra.com] para enviarte los datos respectivos
   
  .m-textContent__title
   h3.a-problemTitle Captar donantes para nuestros Cursos Online en tu escuela, con tus alumnos y amigos
  .m-textContent__text
   p Si eres profesor de yoga, tienes una escuela o centro de yoga, o desarrollas una actividad que te permite captar donantes para la producción de nuestros cursos en línea, contáctanos para hacerte una propuesta ganar - ganar.
   p Para apoyarnos bajo esta modalidad escríbenos a #[a(href="mailto:yoga.iskra@gmail.com") info@yogaiskra.com] indicando que nos quieres apoyar de esta manera con una reseña tuya como profesor, de tu escuela y/o de la actividad que realizas que te da la posibilidad de captar donantes para la producción de nuestros cursos.
   
  .m-textContent__img
   img.a-blogText__img(src="https://craft.atlassian.design/uploads/guidelines/brand/personality/Artboard-1-copy-3.png", alt="")
