.faq-list {
    padding: 0;
    list-style: none;
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
    &.-faqClass {
        max-width: 100%;
    }
    @include mediaQueriesMd {
        max-width: 95%;
    }
    @include mediaQueriesXs {
        max-width: 100%;
    }
}

.m-faqContent__title {
    text-align: center;
    margin-bottom: $spaceSm;
}

.faq-list a i {
    font-size: 1em;
    content: "Hello";
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

ol.faq-list {
    li {
        border-bottom: $borderBottom;
        position: relative;
        & li {
            border: none;
            position: static;
        }
        &::marker {
            visibility: visible;
        }
        .show {
            margin-bottom: $spaceXs;
        }
    }
    @include mediaQueriesMd {
        li {
            padding-bottom: $spaceXs;
        }
    }
    .-check__container {
        li {
            border-bottom: none;
        }
        p:first-child {
            padding-top: 0;
        }
    }
}

.faq-list {
    p:first-child, h3:first-child {
        padding-top: $spaceXs;
    }
    li li p:first-child, li li h3:first-child {
        padding-top:0;
    }
}