.o-hero {
    &.-cursoIndex {
        padding: 0;
    }
    &.-coursePage {
        background-color: $color-calm;
        overflow-x: hidden;
    }
    @include mediaQueriesMd {
        &.-coursePage {
            padding-bottom: 100px;
        }
    }
}

.m-heroContent {
    &.-cursoIndex {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

.m-heroContent__cover {
    padding: 0;
    margin: 0;
    height: 500px;
    display: block;
    overflow: hidden;
    position: relative;
    @include mediaQueriesSm {
        height: 520px;
    }
}
.m-heroBanners {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a-heroContent__video {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.a-heroContent__img {
    @extend .a-heroContent__video;
    z-index: 0;
}


.m-heroContent__content {
    height: 100%;
    position: relative;
    z-index: 3;
    background-color: rgba($color-secondary, $alpha: .4);
    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    @include mediaQueriesMd {
        display: flex;
        align-items: center;
        &::before {
            display: none;
        }
    }
}

.m-heroContent__titles {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
    h1 {
        color: $color-lightin;
        text-shadow: 0 0 4px $color-darkengrey;
    }
    h3 {
        color: $color-lightgrey;
        text-shadow: 0 0 4px $color-darkengrey;
    }
    @include mediaQueriesMd {
        display: flex;
        flex-direction: column;
        width: auto;
        max-width: 66%;
        margin-left: auto;
        margin-right: auto;
    }
    @include mediaQueriesSm {
        max-width: 89%;
    }
}


.m-heroContent {
    .-coursePage & {
        // grid-template-columns: 60% 1fr;
        grid-gap: 0 $spaceXs;
    }
    @include mediaQueriesMd {
        .-coursePage & {
            grid-gap: $spaceBg 0;
        }
    }
}

.m-heroContent__release {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding-top: $spaceXs;
    padding-bottom: $spaceXs;
    border-radius: 10px;
    box-shadow: $shadow1;
    width: 380px;
    background-color: $color-lightin;
    .a-heroContent__text {
        padding: 0;
    }
    @include mediaQueriesXs {
        width: 100%;
        .a-calendar {
            width: $spaceMd;
        }
    }
}
.a-heroContent__time {
    margin-right: 5px;
}

.a-heroContent__title {
    position: relative;
    // margin-left: $spaceMd;
    .-coursePage & h1 {
        &::before {
            display: block;
            width: $spaceMd;
            position: absolute;
            left: -58px;
            margin: 3px 0 0;
            content: url('../img/icons/yoga_symbol_wierd.svg');
        }
    }
    @include mediaQueriesLg {
        margin-left: $spaceMd;
    }
    @include mediaQueriesSm {
        margin-left: 0;
        .-coursePage & h1 {
            &::before {
                position: static;
            }
        }
    }
    @include mediaQueriesXs {
        .-coursePage & h1 {
            text-align: left;
        }
    }
}

.m-heroContent__trailer {
    width: 100%;
}

.m-heroCourse__video {
    position: relative;
    padding-bottom: 52.25%;
    // z-index: 5;
    .a-heroContent__youtube {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.-courseHero.m-circleLines {
    width: 44%;
    position: absolute;
    top: -90px;
    right: -$spaceBg;
    @include mediaQueriesLg {
        width: 40%;
        top: -$spaceMd;
    }
    @include mediaQueriesMd {
        top: -80px;
    }
    @include mediaQueriesSm {
        top: -$spaceMd;
        right: -$spaceRg;
    }
}

.-courseHero.m-squarePoints {
    @extend .-courseHero.m-circleLines;
    width: 37%;
    top: auto;
    bottom: -$spaceBg;
    right: auto;
    left: -$spaceBg;
    @include mediaQueriesLg {
        width: 30%;
        left: -$spaceSm;
        bottom: -$spaceMd;
    }
    @include mediaQueriesMd {
        left: -$spaceBg;
        bottom: -70px;
    }
    @include mediaQueriesSm {
        left: -$spaceSm;
        bottom: -$spaceSm;
    }
}

.-courseHero.m-aquariusFlow {
    @extend .-courseHero.m-circleLines;
    width: 120px;
    z-index: 10;
    top: $spaceBg;
    right: -$spaceBg;
    @include mediaQueriesLg {
        width: 80px;
        right: -$spaceMd;
    }
    @include mediaQueriesMd {
        width: 20%;
    }
    @include mediaQueriesXs {
        width: 50px;
        right: -$spaceSm;
    }
}