.o-smExperience {
    position: relative;
    z-index: 5;
}

.m-smExperience {
    display: flex;
}

.m-smExperience__content {
    width: 500px;
    margin-left: 10%;
}

.m-smExperience__img {
    position: relative;
    left: 2vw;
    overflow-x: hidden;
    margin-bottom: $spaceMd;
}
.a-smExperience__img {
    width: auto;
    max-width: 900px;
}