section.o-faqCourse.-padBgBottom
 .m-faqContent.-ContainerUniversal
  .m-faqContent__title
   h2.a-problemTitle Preguntas frecuentes
  div(class="o-article__wrapper", data-artucle-title="overview")
   div(class="tab-pane fade show active", id="pills-home" role="tabpanel", aria-labelledby="pills-home-tab")
    ol(class="wow fadeInUp faq-list", style="visibility: visible; animation-name: fadeInUp;")
     li
      +nameFaq("faq1","¿Cómo acceder a este curso?")
      .collapse#faq1
       p Todos nuestros cursos en línea son soportados por las donaciones de quienes puedan y deseen apoyar. Este curso estará disponible en  nuestro canal de #[a.-colorPrimary.-line(href=linksExternos[2], target="_blank") Patreon] y en este sitio web de forma progresiva, es decir, los videos que lo componen se irán publicando uno a uno con algunos días de por medio.  Así que tendrás 3 alternativas para acceder a él:
       .m-textContent__list.-counterContainer
        ol.m-listContent.-counter.a-noPadding
          li.a-donateItem.-padSmTop: p.a-noPadding #[b.-bold Donación a través de Patreon:] Convirtiéndote en miembro de nuestro canal de #[a.-colorPrimary.-line(href=linksExternos[2], target="_blank") Patreon], que es nuestro Centro de Estudios virtual, en donde podrás acceder a este Curso en línea y a todos los otros cursos que vayamos produciendo, a clases especiales, a mis podcasts, artículos, audios de meditaciones y directos, que serán exclusivos para los miembros de este canal.
          li.a-donateItem: p.a-noPadding #[b.-bold Donación a través otros medios:] Podrás donar cualquier cantidad que tengas a bien a nuestra cuenta de #[a.-colorPrimary.-line(href=linksExternos[1], target="_blank") Paypal]. Y si deseas hacerlo por #[b.-bold Zelle, Airtm o Pago Móvil], escríbenos a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para enviarte los datos respectivos. Con tu donación a través de alguno de estos métodos te daremos acceso a este curso ubicado en la sección privada de Cursos en línea de este sitio web por 30 días.
           p.-padXsTop Nos deberás escribir a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para notificarnos tu donación e indicarnos tu nombre completo y el correo electrónico a donde quieres que te dejemos nuestra nota de agradecimiento, con el usuario y la clave para que puedas acceder a la sección de Cursos en línea de este sitio web.
          li.a-donateItem: p.a-noPadding Si no puedes donar en estos momentos, escríbeme a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] solicitándonos participar en nuestro sistema de Becas, para enviarte toda la información correspondiente.


     li
      +nameFaq("faq2","¿Quiénes pueden hacer este curso?")
      .collapse#faq2
       p Toda persona mayor de 14 años en adelante saludable sin limitaciones de movilidad física severas y que no tenga contraindicado la práctica de ejercicios de medio y alto impacto.  No se necesita ser flexible, ni una edad o rango de peso en particular.  Si se tiene más de 5 meses de embarazo, por favor escribir a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para que le enviemos información adicional de cómo modificar algunas de las posturas que aprenderá en este curso.

     li
      +nameFaq("faq3","¿Qué implementos se necesitan?")
      .collapse#faq3
       p Ropa cómoda para ejercitarse, un mat o esterilla de yoga, que se puede sustituir por una alfombra o toalla grande que no tienda a resbalar.  Papel y lápiz si deseas anotar. Ganas de aprender!