section.o-aboutCourse
 .m-aboutCourse__title
  h2.a-problemTitle Acerca del curso
  .m-aboutCourse__text.-spaceParagraph
   p Este curso está compuesto por varios videos en los que Yogaiskra te explica en términos accesibles los conceptos y fundamentos en lo que se basa la práctica de posturas según este método, también te hablará de su filosofía e historia, de la estructura de la práctica  y de los lineamientos para ejecutarla. Por último, te enseñará la secuencia de posturas que podrás empezar a practicar, para comenzar a obtener los beneficios de esta maravillosa práctica y preparar tu cuerpo y mente para el siguiente nivel.

 .m-aboutCourse__extras
  .m-aboutCourse__time
   .a-calendarWeek
   h3 Disponible de forma progresiva en: #[br] #[a.-colorPrimary.-line(href=linksExternos[2], target="_blank") Patreon] y Yogaiskra.com

  .a-border.-padXsTopBottom
   .-borderBottom

  .m-aboutCourse__material
   .a-info
   h3 Material descargable: #[br] Guía del Curso en PDF

 .m-aboutCourse__action
  h2.a-colorPhrase A través de la práctica del Yoga se fortalece el cuerpo, se calma la mente y se encuentra paz interior

 .m-aboutCourse__content.-padMdTopBottom
  h2.a-problemTitle Contenido en formato de video
  .m-aboutCourse__things.-padSmTop
   .m-contentTimeline
    .a-lineRect
   .m-contentExplain
    +contentCounter("Introducción: Un sólo Yoga, muchos métodos", "13")
    +contentCounter("Asanas, una de las 8 ramas del Ashtanga Yoga de Patanjali", "24")
    +contentCounter("Historia del Ashtanga Yoga, linaje de maestros y asuntos de actualidad","16")
    +contentCounter("Características de la práctica de posturas y lineamientos básicos", "25")
    +contentCounter("El Método Tristana: Respiración, postura y enfoque de la mirada", "35")
    +contentCounter("Estructura de la práctica, mantras y lecturas recomendadas", "15")
    +contentCounter("Práctica de Iniciación", "40")
   //- .m-contentMore
    .a-button
     a.-outlineSecondary(href=linksUrl[1]+linksInternos[1]) Ver más

 .m-aboutCourse__text.-spaceParagraph
  p Durante cualquier momento podrás dirigir tus dudas y preguntas a nuestro correo electrónico #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] y Yogaiskra te responderá a la brevedad posible.
  p Si hay muchos participantes con las mismas preguntas y dudas, puede que Yogaiskra organice una videoconferencia en directo por #[b.-bold Zoom] para dar respuestas a todos en vivo, en este caso recibirás una invitación en tu correo.