section.o-metadataCourse
 .m-metadataCourse__levels
  .m-levelsCourse
   .a-easy
   h3 Dificultad: #[br] #{levels[3]}
  .m-onlineCourse
   .a-mobile
   h3 Curso 100% online
 
 .a-border.-padSmTopBottom
  .-borderBottom
 
 .m-metadataCourse__teacher
  .m-metadataCourse__profile
   img.a-course__profile(src=linksUrl[1]+"assets/img/profesora/profe_yogaiskra.png", alt="Foto de perfil de yogaiskra")
  .m-metadataCourse__text.-spaceParagraph
   h3 Yogaiskra
   span.a-problemSubtitle__text Profesora y estudiante de yoga
   .-padSmTop
   p.a-metadataCourse__text Con más de 10 años de práctica y estudio del yoga en general, ha dedicado gran parte de este tiempo profundizar en la ejecución y enseñanza de la primera serie del Ashtanga Yoga.
   p.a-metadataCourse__text Considera que el Ashtanga Yoga ofrece un método poderoso que se adapta perfectamente a la construcción de una práctica realmente personal, en la que los  maestros, si bien no dejan de ser importantes, lo que hacen es apuntar hacia el maestro interior que todos llevamos dentro.
   p.a-metadataCourse__text Insiste en que las técnicas de yoga son un medio y no un fin, un medio para mejorarnos como seres humanos, física, mental y espiritualmente.