section.o-card.-course.-padBgBottom
 .m-cardContent
  //- .m-cardTitle
   h2.m-cardTitle__title.-colorPrimary Ciclo de Cursos en línea Respira, Posa y Enfoca
   .a-problemSubtitle
    p.a-problemSubtitle__text Comprende 4 Cursos en línea que tienen como objetivo que el participante adquiera el conocimiento teórico-práctico mínimo indispensable para construir de forma progresiva, coherente y segura, una práctica de posturas de yoga personal en base a la Primera Serie del método del Ashtanga Yoga.
  .m-cardBox.-course
   +boxCourse(linksUrl[1]+linksInternos[6], "assets/img/course/curso_01.png", "Iniciación en el Ashtanga Yoga, Yogaiskra en pose guerrero uno", typesCourse[0]+" 1", nameCourse[0], levels[0], levels[3], "Conceptos. Historia. Fundamentos. Estructura de la serie. Práctica y secuencia de iniciación.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "-on", statusCourse[2])
   +boxCourse("#", "assets/img/course/curso_02.png", "Encendiendo el fuego interno, Yogaiskra en pose parsvakonasana", typesCourse[0]+" 2", nameCourse[1], levels[1], levels[4], "Saludos al Sol y Posturas de pie. Modificaciones. Práctica y secuencia para esta fase.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "", statusCourse[0])
   +boxCourse("#", "assets/img/course/curso_03.png", "Fluyendo y depurando la base, Yogaiskra en pose ardha baddha padma pascimattanasana", typesCourse[0]+" 3", nameCourse[2], levels[1], levels[4], "Transiciones y Posturas de piso. Modificaciones. Práctica y secuencia para esta fase.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "", statusCourse[0])
   +boxCourse("#", "assets/img/course/curso_04.png", "Integrando y sellando la energía, Yogaiskra en pose sirsasana", typesCourse[0]+" 4", nameCourse[3], levels[1], levels[4], "Arcos y secuencia final. Modificaciones. Práctica y secuencia para esta fase.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "", statusCourse[0])