.m-lineAbsolute.-padCoolTopBottom
 svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 3365.54 3526.46")
  g(id="Capa_2", data-name="Capa 2")
   g(id="icon")
    path(class="line", d="M3334.4,31.14S1828,75.22,2219.63,1392.1c0,0,115.57,235.35,308.2,390.09,0,0,386.55,282.56,165.49,671,0,0-161.05,312.64-663.17,113.68,0,0-1051.61-492.64-1667.42,189.48,0,0-331.59,350.54-331.59,739")