section.o-bookmarks.-padBgTop#upBookmark
 .m-bookmarks.-ContainerBlog
  .m-bookmarks__title
   h2.a-problemTitle Marcadores
  .m-bookmarks__links
   ol.m-listContent.-arrow
    li.a-listContent: a(href="#aboutBlog"): p.a-bookmark Inicio
    li.a-listContent: a(href="#beginningBlog"): p.a-bookmark Formaci칩n en Meditaci칩n
    li.a-listContent: a(href="#ashtangaBlog"): p.a-bookmark Formaci칩n en Yoga
    li.a-listContent: a(href="#parkBlog"): p.a-bookmark Experiencia ense침ando y comunicando