section.o-hero.-alert
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.-alert Reseña Curricular
   .a-heroContent__text.a-noPadding
    h3.-alert Iskra Bohórquez es una estudiante y practicante sincera de las vías para el auto conocimiento y la realización espiritual. Sus pilares son la disciplina, la fe y la entrega. Su mayor motivación es compartir estos temas con el mayor número de personas posible.
  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/info/info_001.png", alt="foto sonriente de yogaiskra")
   .m-circleLines
    .a-circleLinesW
   .m-squarePoints
    .a-squarePointsW

section.o-callToAction.-index
 .m-calltoActionContent.-ContainerUniversal
  .a-thingsLeft
  .a-thingsRight
  .a-calltoActionText
   h3.a-calltoActionText__text.-index "El secreto de nuestro futuro se encuentra oculto en nuestra rutina diaria"  Eddie Sterm