section.o-blogText.-padMdBottom

 .a-border.-scrollingMargin.-ContainerBlog#aboutBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  //- .m-textContent__title
  //-  h2.a-problemTitle Breve autobiografía
  .m-textContent__text
   p A la edad de 8 años de la mano de su padre, Iskra Bohórquez inicia su camino en las prácticas espirituales. Su padre, quien es miembro y Maestro de la Orden Rosacruz, la inscribió en el programa de estudios tempranos de esta escuela filosófica ancestral cuyos inicios se remonta al Antiguo Egipto.
   p Los estudios Rosacruces, calificados de metafísicos y esotéricos, la ponen en contacto a temprana edad con temas como el Alma Universal, el Alma Humana, las Leyes Fundamentales del Universo, las facultades de la Mente, el Karma y los misterios de la vida y de la muerte, entre otros.
   p Desde los 14 años comienza a practicar el vegetarianismo y eso la lleva a estudiar Naturismo Tropical con el conocido Dr. Keshava Bhat, reconocido biólogo e investigador Hindú que se radicó en Venezuela y quien hizo una adaptación del conocimiento de la ciencia del Ayurveda a los países tropicales latinoamericanos.
   
 .a-border.-scrollingMargin.-padMdBottom.-padMdTop.-ContainerBlog#beginningBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Formación en Meditación
  .m-textContent__text
   p Los estudios espirituales iniciados con la Orden Rosacruz, llevan a Iskra a la búsqueda continua de las enseñanzas contenidas en diferentes escuelas, religiones y corrientes filosóficas. Así durante su adolescencia y temprana adultez se acerca y estudia con diversos maestros, filosofías y técnicas tales como la #[b.-bold meditación trascendental, la del sonido primordial y la budhista.]
   p Entre los maestros de los que tuvo la oportunidad de aprender estas técnicas durante esa etapa están: Maharaji Prem Rawat (de India), el Dr. Deepak Chopra (de USA) y Lama Ole Nidal (de Noruega).
   p Siempre ha sido una ávida lectora, por lo que durante esta etapa de su vida invierte gran parte de su tiempo en leer textos, libros sagrados de diferentes religiones y autores de varias corrientes  filosóficas, tales como la Biblia, el Kybalion, el Bhagavad Gita, Diálogos de Platón, varias obras de Vivekananda y de Krishnamurti, Yug Yoga Yoghismo de Serge Raynaud de la Ferriere, Mitología Griega, y casi todos los libros del Dr. Deepak Chopra publicados hasta la fecha, entre muchos otros.

 .a-border.-scrollingMargin.-padMdBottom.-padMdTop.-ContainerBlog#ashtangaBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Formación en Yoga
  .m-textContent__text
   p A principio de sus 30 años decide probar con las técnicas físicas propuestas por el Yoga: posturas, pranayamas, kriyas y bandhas. Inicia estos estudio con el programa de las "7 Leyes Espirituales del Yoga" del Dr. Deepak Chopra.
   p Posterior a ello se forma en #[b.-bold Power Yoga] con el Programa de 200 Horas de Travis Eliot (de USA) que lleva por nombre "The Ultimate Yogi".
   p Durante los siguientes años, continúa su práctica de Power Yoga e incursiona en otras formaciones, alrededor de 100 horas, relacionadas con #[b.-bold AcroYoga y Masaje Yoga Thai], con el Prof. David Barreto (de Venezuela), el fundador de la conocida escuela internacional AcroYoga Prem.
   p A los 34 años, conoce el #[b.-bold Ashtanga Yoga a través del Prof. Eddie Stern] (de USA), quien colabora con Deepak Chopra en la producción de una serie audiovisual llamada de "Urban Yogi".  Desde este momento se comienza a especializar en este método, con diversos profesores extranjeros y nacionales.  Entre ellos: Kino MacGregor (de USA), Claudia Borges (de Venezuela) y Vanessa Barreto (de Venezuela).
   p Ya cuenta con 11 años de práctica y estudio ininterrumpido de Yoga, 9 de ellos en Ashtanga Yoga.  Ha asistido continuamente a diferentes formaciones con profesores nacionales y extranjeros, tanto de posturas como de filosofía del Yoga. Entre ellos: Liz Carrasquel (de Venezuela), Eddie Stern y Robert Moses (de Inglaterra).
   p Desde 2019 se ha mantenido estudiando Ashtanga Yoga de forma continua con el Prof. Eddie Stern, a quien considera su mayor influencia. Con él no solo recibe guía semanal para la práctica de posturas por Zoom durante toda la pandemia del COVID 19. También ha realizado otros cursos como:
   .m-textContent__list
    ol.m-listContent.-bullet
     li.a-donateItem "Introducción a la Fisiología y el Yoga" avalado por la Universidad de Nueva York.
     li.a-donateItem "Sadhana Intesivo" con especial énfasis en Pranayamas, Bandhas y Kriyas. 
     li.a-donateItem Programa de Canto y Recitación de Mantras diario por 6 meses. 
     li.a-donateItem Grupo Estudio de los Yoga Sutras (Programa de estudio de varias temporadas).

   p Iskra también ha realizado cursos de formación y talleres de otros métodos tales como:
   .m-textContent__list
    ol.m-listContent.-bullet
     li.a-donateItem Curso básico de Ayurveda con Janet Pérez (de USA).
     li.a-donateItem Talleres de Yogasana de acuerdo al Método Iyengar y Yoga Restaurativo con Leonid Berbesi (de Colombia).
     li.a-donateItem Programa de Yin Yoga con Travis Eliot. 
     li.a-donateItem Varios talleres de Hatha y Raja Yoga del programa de yoga avanzado de Yoga En Síntesis, con profesores venezolanos y mexicanos del linaje del Yoghismo fundado por Serge Raynaud de la Ferriere.
     li.a-donateItem Curso del Sri Isopanisad con Acintya Das (de Colombia).
     li.a-donateItem Clases diarias desde Marzo 2020 hasta la actualidad sobre el Srimad Bhagavatam con  Raghunath Capo y Kaustubha Das del Bhakti Yoga Center de Nueva York.
     li.a-donateItem Asistencia a por lo menos una decena de Congresos y Encuentros presenciales y virtuales relacionados con el Yoga.

 .a-border.-scrollingMargin.-padMdBottom.-padMdTop.-ContainerBlog#parkBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Experiencia enseñando y comunicando
  .m-textContent__text
   p Después de dominar la Primera Serie del Ashtanga Yoga en el año 2015, es invitada a formar parte del staff de profesores de Ashtanga Yoga del shala Espíritu Libre de Valencia en Venezuela, y más tarde en Vanub Yoga Shala en esta misma localidad.
   p Después de dominar la Primera Serie del Ashtanga Yoga en el año 2015, es invitada a formar parte del staff de profesores de Ashtanga Yoga del shala Espíritu Libre de Valencia en Venezuela, y más tarde en Vanub Yoga Shala en esta misma localidad.

   .m-textContent__list
    ol.m-listContent.-bullet
     li.a-donateItem Las 8 ramas del Yoga
     li.a-donateItem Perdiendo el miedo a las Paradas de Cabeza
     li.a-donateItem Ciclo de Talleres Respira, Posa y Enfoca
     .m-textContent__list
      ol.m-listContent.-bullet
       li.a-donateItem Iniciación en el Ashtanga Yoga
       li.a-donateItem Encendiendo el fuego interno (Saludos al Sol y Posturas de Pie de la primera serie del Ashtanga Yoga)
       li.a-donateItem Fluyendo y depurando la base (Posturas de Piso y Transiciones de la primera serie del Ashtanga Yoga)
       li.a-donateItem Integrando y sellando la energía (Arcos y Secuencia Final de la primera serie del Ashtanga Yoga)
     li.a-donateItem Programa gratuito semanal de Yoga en la Plaza

   p #[b.-bold Yoga gratuito en la Plaza:] Durante el año 2019, Iskra respondió al llamado del Prof. José Antonio Musso para sustituirlo en su labor de servicios desinteresado dictando clases de Yoga gratuitas en una plaza pública de la ciudad, la Plaza Dr. Fabian de Jesús Díaz.
   p La asistencia a las primeras de estas clases era de 8 a 10 personas, después de varias semanas la asistencia estaba entre 30 y 50 personas por clases.
   p A partir de esta experiencia, Iskra decidió llevar a cabo todas sus demás actividades de enseñanza y comunicación del yoga y su filosofía, bajo el formato de donaciones voluntarias.
   p Actualmente, Iskra cuenta con la plataforma de cursos online #[a.-colorPrimary.-line(href=linksUrl[1]) Yogaiskra.com] a donde progresivamente está subiendo todos sus cursos al formato digital e imparte clases por Zoom una vez a la semana.  Todos sus cursos son soportados por donaciones voluntarias.
   p Cuenta con más de ocho años difundiendo de forma continua el yoga a través de redes sociales. Más de dos años escribiendo en su #[a.-colorPrimary.-line(href=linksExternos[0], target="_blank") blog personal] acerca de todos estos temas. Y se encuentra  produciendo recientemente el #[a.-colorPrimary.-line(href=linksPodcast[2], target="_blank") Podcast Corriente Despierta].