.o-blogText {
    position: relative;
}


.m-textContent__text {
    margin-top: $spaceSm;
    margin-bottom: $spaceSm;
    p {
        padding-bottom: $spaceXs;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
    @include mediaQueriesMd {
        p {
            padding-bottom: $spaceSm;
        }
    }
}

.m-textContent__img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    &.-md {
        padding-top: $spaceXs;
        padding-bottom: $spaceXs;
        max-width: 66%;
    }
    .a-blogText__img {
        width: 100%;
    }
    @include mediaQueriesXs {
        width: 100%;
        &.-md {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.m-textContent__list {
    p {
        padding-bottom: $spaceXs;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.m-textGrid {
    &__Right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 320px;
        grid-gap: 0 $spaceSm;
        grid-template-areas: "textBlogImg textBlogText";
    }
    &__Left {
        display: grid;
        grid-template-columns: 60% 1fr;
        // grid-template-rows: 320px;
        grid-gap: 0 $spaceSm;
        grid-template-areas: "textBlogText textBlogImg";
    }
    @include mediaQueriesLg {
        &__Right {
            grid-template-columns: 35% 1fr;
        }
        &__Left {
            grid-template-columns: 58% 1fr;
        }
    }
    @include mediaQueriesMd {
        &__Right {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            grid-gap: $spaceSm 0;
            grid-template-areas: "textBlogImg" "textBlogText";
        }
        &__Left {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            grid-gap: $spaceRg 0;
            grid-template-areas: "textBlogText" "textBlogImg";
        }
    }
}

.m-textGridImg {
    grid-area: textBlogImg;
    width: 100%;
    img {
        width: 100%;
    }
}

.m-textGridContent {
    grid-area: textBlogText;
}

.o-bookmarks {
    position: relative;
}

.m-bookmarks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.m-bookmarks__links {
    padding-top: $spaceXs;
}

.a-bookmark {
    width: auto;
    box-sizing: content-box;
    &:hover {
        // text-decoration: underline dashed;
        border-bottom: 1px dashed $color-grey;
    }
}