.o-fundBanner {
    background: linear-gradient(to bottom, $color-calm 0%, $color-alert 100%);
}

.m-fundBanner__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.m-fundBanner__explain {
    width: 86%;
    h3, p {
        text-align: center;
        color: $color-darkengrey;
    }
    @include mediaQueriesLg {
        width: 100%;
    }
    // @include mediaQueriesXs {
    //     & h3, p {
    //         text-align: left;
    //     }
    // }
}

.o-footer {
    background-color: $color-primary;
}


.o-footerFirmDev {
    p {
        color: $color-lightin;
    }
    &.-index {
        @include footerFirmFunction($blueBg: true);
        .-btnMonlogo {
            border-color: $color-lightin;
            color: $color-lightin;
        }
        .-btnMonlogo:hover, .-btnMonlogo:active {
            color: $color-lightin;
        }
    }
    @include mediaQueriesXs {
        p {
            font-size: $fontS1;
        }
    }
}