.o-line {
    position: relative;
    overflow: hidden;
}

.m-lineAbsolute {
    position: absolute;
    top: -120px;
    left: -70px;
    width: 100%;
    z-index: 2;
    .-errorBg & {
        top: -310px;
        right: -80px;
        left: auto;
        width: 63%;
    }
    @include mediaQueriesLg {
        left: auto;
        right: -60px;
        width: 186%;
    }
    @include mediaQueriesMd {
        width: 250%;
        right: -370px;
        top: 260px;
        .-errorBg & {
            top: 0;
            right: -10px;
            width: 130%;
        }
    }
    @include mediaQueriesSm {
        width: 350%;
        right: -170px;
        top: 540px;
        .-errorBg & {
            top: -50px;
            right: -80px;
            width: 170%;
        }
    }
    @include mediaQueriesXs {
        width: 550%;
        right: -370px;
        top: 620px;
        .-errorBg & {
            top: -50px;
            right: -40px;
            width: 300%;
        }
    }
    @include mediaQueriesXxs {
        width: 680%;
        top: 680px;
        right: -420px;
    }
}

.line{
    fill:none;
    stroke:#efb1ff;
    // stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: 28px;
    .-errorBg & {
        stroke-width: 38px;
    }
}

.m-mountain {
    position: absolute;
    transform: rotate(180deg);
}

.a-lineRect {
    position: relative;
    top: 18px;
    height: 100%;
    width: 5px;
    border-right: 2px solid $color-secondary;
    @include mediaQueries0 {
        width: 8px;
    }
}
.a-heyDot {
    position: absolute;
    top: 8px;
    left: -46px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $color-secondary;
    @include mediaQueriesMd {
        left: -26px;
    }
    @include mediaQueries0 {
        left: -23px;
    }
}