// Navegación y distribución de la página
.-ContainerUniversal {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    @include mediaQueriesLg {
        max-width: 89.66%;
    }
    @include mediaQueriesSm {
        padding: 10px;
        &.-bigger {
            max-width: 96%;
        }
    }
    @include mediaQueries0 {
        padding: 0;
        max-width: 86%;
    }
}

.-ContainerBlog {
    @extend .-ContainerUniversal;
    max-width: 60%;
    @include mediaQueriesLg {
        max-width: 72%;
    }
    @include mediaQueriesMd {
        max-width: 89.66%;
    }
    @include mediaQueries0 {
        padding: 0;
        max-width: 86%;
    }
}

a.-padModifier {
    padding: 6px 20px;
    @include mediaQueriesLg {
        padding: 6px 14px;
    }
    @include mediaQueries0 {
        padding: 6px 6px;
    }
}

section .a-noMargin {
    margin: 0;
}
.marLRAuto {
    margin: 0 auto;
}
.-marSmTop {
    margin-top: $spaceSm;
}
.-marXsTop {
    margin-top: $spaceXs;
}

section .a-noPadding, .a-noPadding {
    padding: 0 !important;
}

section .a-paddingMd {
    padding-top: $spaceXs;
    padding-bottom: $spaceSm;
}

.-padCoolTopBottom {
    padding-top: $spaceBg + 20px;
    padding-bottom: $spaceBg + 20px;
    @include mediaQueriesMd {
        padding-top: $spaceMd;
        padding-bottom: $spaceMd;
    }
}

.-padMdTopBottom {
    padding-top: $spaceMd;
    padding-bottom: $spaceMd;
}

.-padRgTopBottom {
    padding-top: $spaceRg;
    padding-bottom: $spaceRg;
}

.-padSmTopBottom {
    padding-top: $spaceSm;
    padding-bottom: $spaceSm;
}

.-padXsTopBottom {
    padding-top: $spaceXs;
    padding-bottom: $spaceXs;
}

.-padBgBottom {
    padding-bottom: 80px;
    @include mediaQueriesMd {
        padding-bottom: $spaceMd;
    }
}

.-padMdBottom {
    padding-bottom: $spaceMd;
}
.-padSmBottom {
    padding-bottom: $spaceSm;
}
.-padXsBottom {
    padding-bottom: $spaceXs;
}

.-padBgTop {
    padding-top: $spaceBg + 10px;
    @include mediaQueriesMd {
        padding-top: $spaceMd;
    }
}

.-padMdTop {
    padding-top: $spaceMd;
}

.-padSmTop {
    padding-top: $spaceSm;
}

.-padXsTop {
    padding-top: $spaceXs;
}
.-padXs {
    padding: $spaceXs;
}

.-containerText {
    margin-bottom: $spaceSm;
    margin-left: auto;
    margin-right: auto;
    max-width: 68.66%;
    @include mediaQueriesMd {
        max-width: 100%;
    }
}

// Background color
.-bg {
    &Calm {
        background-color: $color-calm;
    }
    &Light {
        background-color: $color-lightin;
    }
}

// Display
.-dInline {
    display: inline;
}
.-d-none {
    display: none !important;
}
.-dNone {
    display: none;
}
.-dSmNone {
    @include mediaQueriesSm {
        display: none;
    }
}
.-dSmBlock {
    @include mediaQueriesSm {
        display: block;
    }
}
.-dFlex {
    display: flex;
}
.-pRelative {
    position: relative;
}
.-noScroll {
    overflow: hidden;
}
.-index15 {
    z-index: 15;
}

.-alignItemsLeft {
    align-items: left !important;
}

// border y resources
.-borderBottom {
    opacity: .3;
    border-bottom: 1px solid $color-secondary;
}

// Max-width
.-mW-80 {
    max-width: 80%;
}