html, body, p, div, h1, h2, h3, ul, ol, img, form {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

article, aside, figure, footer, header,
main, menu, nav, section {
    display: block;
}

article {
    font-size: $fontS2;
    line-height: 28px;
    font-weight: 400;
    color: $color-primary;
    font-family: $font2;
    padding-bottom: 48px;
    @include mediaQueriesLg {
        padding-top: 30px;
    }
    @include mediaQueriesSm {
        padding-top: 40px;
    }
}

ul, ol, dl {
    padding-left: 5px;
    padding-right: 0;
    ol {
        padding-left: 20px;
        padding-right: 20px;
    }
    li {
        padding-bottom: 5px;
    }
    @include mediaQueriesMd {
        padding-left: 10px;
        padding-right: 0;
        li {
            padding-bottom: 10px;
            line-height: 1.4;
        }
    }
    @include mediaQueriesSm {
        padding-left: 20px;
        padding-right: 10px;
    }
    @include mediaQueriesXs {
        padding-left: 25px;
        padding-right: 5px;
        ol {
            padding-left: 25px;
            padding-right: 10px;
        }
    }
}

ol {
    margin-top: 0;
    margin-bottom: $fontSM2;
}