include ../../lib/_var.pug
include ../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../base/_head.pug
  meta(name="title", content=titles[1]+" "+ titles[0])
  title Página no encontrada - #{titles[0]}
  include ../../base/_headjs.pug
 body.-menuSticky

  // menu
  include ../../base/_header.pug

  // hero
  .o-line.-errorBg
   include ../../components/cursos/error/_hero.pug
   include ../../components/cursos/_line.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../../components/_contact_form.pug
  .-blur#contact1
   #contact2
    #contact3
     #contact4
      #contact

  // footer
  include ../../base/_footer.pug