include ../../lib/_var.pug
include ../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../base/_head_curse.pug
  meta(name="title", content=titles[1]+" "+ titles[0])
  meta(name="description", content="Clases y conocimiento sobre en el yoga con "+titles[0]+". Aquí podrás leer más acerca de mí")
  title #{titles[6]} - #{titles[0]}
 body

  // menu
  include ../../base/_header.pug

  // hero

  // line
  .o-line
   include ../../components/curso/_line.pug

  // footer
  include ../../base/_footer.pug