
<section class="o-problemStory -padCoolTopBottom">
  <div class="o-problemStory__contentRight -padBgBottom -ContainerUniversal">
    <div class="m-problemImg"></div>
    <div class="m-problemContent">
      <h2 class="a-problemTitle">Vestibulum a ultricies tellus</h2>
      <div class="a-problemSubtitle"><span class="a-problemSubtitle__text">Nullam accumsan lectus risus, ut finibus libero rhoncus ac</span>
        <div class="a-problemSubtitle__line -right"></div>
      </div>
      <div class="a-problemContent">
        <p>In ac dapibus ex, vitae pharetra massa. Praesent porttitor ipsum a mauris cursus tristique. Morbi auctor nunc a massa viverra sodales. Nullam et dui eu eros egestas convallis vitae placerat augue. Morbi quis tortor sed dolor malesuada lacinia tincidunt porttitor est. Sed sed placerat est. Curabitur id blandit tortor. Cras eu efficitur dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        <p>Mauris efficitur, mauris at lobortis placerat, dui neque porta justo, at ultrices sem eros at nisl. Proin id ex mi. Morbi lorem nibh, viverra eu aliquam vel, viverra nec libero.</p>
      </div>
    </div>
  </div>
</section>