include ../../lib/_var.pug
include ../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../base/_head_class.pug
  +metadataCourse(crpe[0]+" - "+titles[0],"Aprende los conceptos y fundamentos en lo que se basa la práctica de posturas en el Ashtanga yoga, su filosofía e historia y haz una práctica de iniciación con Yogaiskra","https://yogaiskra.com/cursos/iniciacion-ashtanga/rpe1v1-introduccion-un-solo-yoga-muchos-metodos","https://yogaiskra.com/assets/img/banner/banner@3x.png","Logo de Yogaiskra con fondo rosado claro rodeado de elementos gráficos de flores")

 body

  // menu
  include ../../base/_headernosticky.pug

  // video
  include ../../components/cursos/iniciacion-ashtanga/class/_nav.pug
  include ../../components/cursos/iniciacion-ashtanga/class/rpe1v1.pug

  // Footer
  include ../../base/_o-footer.pug