section.o-blogText.-padMdTopBottom
 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Desarrollarnos para ser cada vez más humanos
  
  .m-textContent__text
   p Vivimos tiempos de grandes retos, podemos poner nuestros esfuerzos en lamentarnos y aumentar nuestro sufrimiento; o en encaminarnos hacia una transformación que nos permita evolucionar de forma individual y colectiva.
   p En todas las épocas y en diversos lugares, han existido filosofías, enseñanzas y métodos para el mejoramiento humano. Algunos han llamado a estos conocimientos la Corriente de Energía Despierta.
   p El yoga es unos de los sistemas filosóficos que condensa gran parte de estas enseñanzas y métodos. He comprobado que su estudio y práctica consistentes, generan bienestar continuo, disminuye el sufrimiento y aumenta nuestro interés por ayudar a otros.
   p El Yoga es uno sólo, sin embargo podemos encontrar diferentes aproximaciones o enfoques.  Me gusta mucho la forma en que lo explica David Swenson en su libro “Ashtanga Yoga. El Manual Práctico”
   p Este autor dice que el Yoga es como un bosque lleno de árboles de diferentes especies. Todos los árboles tienen la misma meta, crecer para alcanzar la luz del sol. Pero cada especie tiene su manera de crecer, su apariencia y forma única para desarrollar el máximo potencial de su especie; nadie se atrevería a decir que alguna de estas formas es incorrecta, todas son válidas.
   p Tal como los árboles del bosque, todos los sistemas yóguicos tienen como objetivo la transformación del individuo hacia un estado de mayor equilibrio y comunión; cada uno con su propio enfoque y perspectiva.
   p Dependiendo de la escuela o estilo de yoga, predominarán algunas prácticas más que otra, entre ellas: las buenas acciones, el canto de mantras, la meditación, las abstinencias, las posturas, depuraciones o el estudio profundo de textos con las enseñanzas respectivas.  No obstante, como concluye el maestro español Ramiro Calle en varios de sus libros, todos las aproximaciones del yoga, de una u otra manera procuran tres aspectos fundamentales:

   .m-textContent__list.-counterContainer
    ol.m-listContent.-counter
     li.a-donateItem: p El establecimiento de una ética genuina, tanto para con los demás como para con uno mismo
     li.a-donateItem: p El entendimiento y desarrollo de la mente
     li.a-donateItem: p El desarrollo de la auténtica sabiduría o auto-realización
  
   p El objetivo de este sitio web es compartir con el mayor número de personas posibles las enseñanzas y las técnica del Yoga, así como muchas otras filosofías y prácticas, ancestrales y modernas, que tienen como objetivo el mejoramiento humano. Sabemos que hay personas que por condiciones particulares, no podrían desarrollar una práctica de posturas exigente, y que hay otros que no se identifican con el enfoque del yoga o la cultura de donde éste proviene.
   p Son muchas las enseñanzas y prácticas, de meditación, de concentración, relajación, ejercicios de respiración o de esfuerzo intelectual que se pueden emplear para transitar el camino del auto mejoramiento.  Cada persona debe ser libre de usar las técnicas que le presten más, lo importante, como pasa con todas las destrezas que se quieren desarrollar, es poner voluntad, esfuerzo, disciplina y paciencia para practicar de forma continua por tiempo prolongado.
   p Las personas que se encaminen en este tipo de desarrollo, podrán consolidar mejores relaciones con quienes interactúan a diario, concebir más y mejores soluciones para las problemáticas actuales y futuras, así como velar a conciencia por el bienestar común y el desarrollo de actividades cada vez más amigables con el medio ambiente y el planeta.
   p En base a lo arriba expuesto, he venido junto con el equipo que me acompaña, desarrollando este sitio web y sus canales relacionados. Creemos que:

   .m-textContent__list
    ol.m-listContent.-arrow
     li.a-listContent #[h3.-bold En la unión esta la fuerza y en la diversidad la riqueza] Así que también estaremos compartiendo por acá otros enfoques que apunten hacía el mejoramiento humano, de profesores de yoga, motivadores y pensadores de la actualidad; tanto a nivel local, nacional como internacional.
     li.a-listContent #[h3.-bold Dar y recibir cre abundancia colectiva] Por ello todo el contenido de este sitio web y sus canales relacionados será soportado por las Donaciones y el apoyo de quienes quieran y puedan aportar. Los fondos recaudados me permitirán dedicar más tiempo para hacer más y mejor contenido gratuito para el provecho de muchos.
   
   p Gracias por leer acerca de nuestra visión, misión y valores, esperó que te puedas beneficiar de ellas y nos acompañes en este camino!


  .m-textContent__img
   img.a-blogText__img(src="https://craft.atlassian.design/uploads/guidelines/brand/personality/Artboard-1-copy-3.png", alt="")