section.o-pageClass.-pRelative.-noScroll.-bgCalm
 .m-pageClass__hero

section.o-videoClass.-pRelative
 .m-boxClass.-box
  +videoClass("https://www.youtube.com/embed/DeBRv7UO658")
  
  +detailsClass(linksUrl[1]+linksCursos[0],"6. "+crpe[5],linksUrl[1]+lkCourseIa[4],"",linksUrl[1]+lkCourseIa[6],"","Siguiente")

  .m-boxClass__description.-padSmNow
   p La estructura general de las series del Ashtanga Yoga. Mantras de apertura y cierre de la práctica. Bibliografía usada para el desarrollo de este curso y que Yogaiskra recomienda leer.

  // Contenido del video
  .o-faqCourse.-marXsTop.-padSmNow
   .m-faqContent
    div(class="o-article__wrapper", data-artucle-title="overview")
     div(class="tab-pane fade show active", id="pills-home" role="tabpanel", aria-labelledby="pills-home-tab")
      ol(class="wow fadeInUp faq-list -faqClass", style="visibility: visible; animation-name: fadeInUp;")
       li
        +nameFaq("faq6","Escrito con el contenido del video")
        include rpe1t1/_t6.pug