section.o-pageClass.-pRelative.-noScroll.-bgCalm
 .m-pageClass__hero

section.o-videoClass.-pRelative
 .m-boxClass.-box
  +videoClass("https://www.youtube.com/embed/lA9-R62HpQ0")
  
  +detailsClass(linksUrl[1]+linksCursos[0],crpe[4],linksUrl[1]+lkCourseIa[3],"",linksUrl[1]+lkCourseIa[5],"",crpe[5])

  .m-boxClass__description.-padSmNow
   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat ligula eu dolor tempor, eu ultrices metus elementum. Aliquam erat volutpat. Cras consectetur nec lorem tristique aliquam. Vestibulum id lacus id dolor elementum aliquet. Proin non quam ut lorem mattis malesuada. Morbi sed blandit augue. Integer vehicula risus in volutpat tempus. Sed gravida eget tortor in vulputate. Etiam elit nisi, consectetur non dui in, feugiat dapibus turpis. Ut sollicitudin gravida arcu, sit amet cursus justo mattis tempus.
   .m-boxClass__download
    h3 Recursos
    ul.m-linksList.-marXsTop
     li.-pRelative: a.-download(href="#") Hello