
//- Contenido del index
mixin box(a="#", img="assets/img/icons/arrow_right.svg", n="", title="Box con texto", texto="Texto de la card")
 a(class="m-box m-box__anima", href=""+a)
  .m-box__container
   h3.m-box__title.a-explainTitle=title
   img(class="m-box__img", src=""+img, alt=""+n)
   p.a-box__text=texto

mixin boxTitle(a="#", title="Box con texto")
 a(class="m-box m-box__anima", href=""+a)
  .m-box__container
   h3.m-box__title.a-explainTitle=title