-var title = "Título Principal"
-var titles = ["Yogaiskra", "Acerca de", "Podcast", "Cursos en línea", "Apoyar", "Blog", "Cursos", "Page no found"]
-var linksUrl = ["/", "/dist/"]
-var linksInternos = ["acerca-de.html", "donar.html", "info/ashtanga-yoga.html", "info/podemos-cambiar.html", "cursos.html", "curso/error/no-found.html", "curso/ashtanga/intro-ashtanga.html"]
-var linksExternos = ["https://yogaiskra.wordpress.com/", "https://www.paypal.me/yogaiskra"]


-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"iso_yogaiskra_color.png", logoImg+"imagotipo_yogaiskra_color.png", logoImg+"logo_conex@1_5x.png"]

//- course
-var statusCourse = ["No iniciado", "En producción", "Listo"]
-var levels = ["assets/img/icons/easy.svg", "assets/img/icons/intermedio.svg", "assets/img/icons/hard.svg", "Fácil", "Intermedio", "Difícil"]
