//- HTML
//- .html
-var noHtml = ""
-var cssV = "?v=14"

//- /dist/
-var linksUrl = ["/", "/"]

-var title = "Título Principal"
-var titles = ["Yogaiskra", "Acerca de", "Podcast", "Cursos", "Apoyar", "Blog", "Cursos", "Page no found", "Patreon", "Nosotros", "Artículos", "Contactar","Iniciar Sesión","Salir", "Reseña Curricular"]
-var linksInternos = ["acerca-de"+noHtml, "donar"+noHtml, "info/ashtanga-yoga"+noHtml, "info/podemos-cambiar"+noHtml, "curso"+noHtml, "error/no-found"+noHtml, "cursos-online/iniciacion-ashtanga-info"+noHtml]
-var linksExternos = ["https://yogaiskra.wordpress.com/", "https://www.paypal.me/yogaiskra", "https://www.patreon.com/yogaiskra", "https://www.instagram.com/yogaiskra", "https://www.youtube.com/channel/UCYVWLVhrQ_V_Q-Oec99eFOA", "https://www.yogaiskra.com", "https://www.podcasts.google.com", "https://app.airtm.com/ivt/FFslcE7n", "https://www.zellepay.com", "https://play.google.com/store/search?q=pago%20movil&hl=es_VE"]
-var linksPodcast = ["https://open.spotify.com/show/3wNLAPuv1Tpex6fVnlZJrd?si=M3NGCq6zQVOu6jZFESItXg", "https://pca.st/podcast/8ce106d0-9c80-0138-e649-0acc26574db2", "https://anchor.fm/corrientedespierta", "https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMDI4MTlmOC9wb2RjYXN0L3Jzcw", "https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMDI4MTlmOC9wb2RjYXN0L3Jzcw&episode=YmIwNTgwYmEtM2UwNC00YzE5LWFkNGEtY2VmYTI4OThlYTVm", "https://podcasts.apple.com/ve/podcast/corriente-despierta/id1521349818","https://youtu.be/xyBgPOcakGE"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"iso_yogaiskra_color.png", logoImg+"imagotipo_yogaiskra_color.png", logoImg+"logo_conex@1_5x.png"]

//- course
-var statusCourse = ["No iniciado", "En producción", "Disponible"]
-var levels = ["assets/img/icons/easy.svg", "assets/img/icons/intermedio.svg", "assets/img/icons/hard.svg", "Básico", "Intermedio", "Avanzado"]
-var typesCourse = ["Curso", "Clase", "Meditación"]
-var nameCourse = ["Iniciación en el Ashtanga Yoga","Encendiendo el fuego interno","Fluyendo y depurando la base","Integrando y sellando la energía"]
-var linksCursos = ["cursos/iniciacion-ashtanga/","cursos/fuego-interno/","cursos/fluyendo-y-depurando/","cursos/sellando-energia/"]
-var lkCourseIa = [linksCursos[0]+"rpe1v1-introduccion-un-solo-yoga-muchos-metodos"+noHtml,linksCursos[0]+"rpe1v2-asanas-una-de-las-8-ramas-del-ashtanga-yoga-de-patanjali"+noHtml,linksCursos[0]+"rpe1v3-historia-del-ashtanga-yoga-linaje-de-maestros-y-asuntos-de-actualidad"+noHtml,linksCursos[0]+"rpe1v4-caracteristicas-de-la-practica-de-posturas-y-lineamientos-basicos"+noHtml,linksCursos[0]+"rpe1v5-el-metodo-tristana-respiracion-postura-y-enfoque-de-la-mirada"+noHtml,linksCursos[0]+"rpe1v6-estructura-de-la-practica-mantras-y-lecturas-recomendadas"+noHtml,linksCursos[0]+"rpe1v7-practica-de-iniciacion"+noHtml,linksCursos[0]+"rpe1t1-guia-entera-del-curso"+noHtml]
-var cWorks = [" en Curso de ","Curso de "]
-var crpe = ["Introducción: Un sólo Yoga, muchos métodos","Asanas, una de las 8 ramas del Ashtanga Yoga de Patanjali","Historia del Ashtanga Yoga, linaje de maestros y asuntos de actualidad","Características de la práctica de posturas y lineamientos básicos","El Método Tristana: Respiración, postura y enfoque de la mirada","Estructura de la práctica, mantras y lecturas recomendadas","Práctica de Iniciación en el Ashtanga Yoga","Guía entera del curso"]

//- Monlogo
-var monlogo = ["https://prointelecto.com", "Desarrollado por"]