//- HTML
-var noHtml = ""


-var title = "Título Principal"
-var titles = ["Yogaiskra", "Acerca de", "Podcast", "Cursos en línea", "Apoyar", "Blog", "Cursos", "Page no found", "Patreon", "Nosotros", "Artículos"]
-var linksUrl = ["/", "/"]
-var linksInternos = ["acerca-de"+noHtml, "donar"+noHtml, "info/ashtanga-yoga"+noHtml, "info/podemos-cambiar"+noHtml, "curso"+noHtml, "error/no-found"+noHtml, "cursos/iniciacion-ashtanga-info"+noHtml]
-var linksExternos = ["https://yogaiskra.wordpress.com/", "https://www.paypal.me/yogaiskra", "https://www.patreon.com/yogaiskra", "https://www.instagram.com/yogaiskra", "https://www.youtube.com/channel/UCYVWLVhrQ_V_Q-Oec99eFOA", "https://www.yogaiskra.com", "https://www.podcasts.google.com", "https://app.airtm.com/ivt/FFslcE7n", "https://www.zellepay.com", "https://play.google.com/store/search?q=pago%20movil&hl=es_VE"]
-var linksPodcast = ["https://open.spotify.com/show/3wNLAPuv1Tpex6fVnlZJrd?si=M3NGCq6zQVOu6jZFESItXg", "https://pca.st/podcast/8ce106d0-9c80-0138-e649-0acc26574db2", "https://anchor.fm/corrientedespierta", "https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMDI4MTlmOC9wb2RjYXN0L3Jzcw", "https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMDI4MTlmOC9wb2RjYXN0L3Jzcw&episode=YmIwNTgwYmEtM2UwNC00YzE5LWFkNGEtY2VmYTI4OThlYTVm", "https://podcasts.apple.com/ve/podcast/corriente-despierta/id1521349818","https://youtu.be/xyBgPOcakGE"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"iso_yogaiskra_color.png", logoImg+"imagotipo_yogaiskra_color.png", logoImg+"logo_conex@1_5x.png"]

//- course
-var statusCourse = ["No iniciado", "En producción", "Disponible"]
-var levels = ["assets/img/icons/easy.svg", "assets/img/icons/intermedio.svg", "assets/img/icons/hard.svg", "Básico", "Intermedio", "Avanzado"]
-var typesCourse = ["Curso", "Clase", "Meditación"]

//- Monlogo
-var monlogo = ["https://monlogo.co", "Construida por"]