-var title = "Título Principal"
-var titles = ["Yogaiskra", "Acerca de", "Podcast", "Cursos en línea", "Donar", "Blog"]
-var linksUrl = ["/", "/dist/"]
-var linksInternos = ["acerca-de.html", "donar.html", "odoo/crm/faq.html"]
-var linksExternos = ["https://yogaiskra.wordpress.com/"]
-var titleOdoo = ["Conceptos y definiciones", "Normativa", "Preguntas Frecuentes"]
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"iso_yogaiskra_color.png", logoImg+"imagotipo_yogaiskra_color.png", logoImg+"logo_conex@1_5x.png"]