-var title = "Título Principal"
-var titles = ["Yogaiskra", "Acerca de", "Podcast", "Cursos en línea", "Apoyar", "Blog", "Cursos", "Page no found", "Patreon", "Nosotros", "Artículos"]
-var linksUrl = ["/", "/"]
-var linksInternos = ["acerca-de.html", "donar.html", "info/ashtanga-yoga.html", "info/podemos-cambiar.html", "cursos.html", "curso/error/no-found.html", "curso/ashtanga/intro-ashtanga.html"]
-var linksExternos = ["https://yogaiskra.wordpress.com/", "https://www.paypal.me/yogaiskra", "https://www.patreon.com/yogaiskra", "https://www.instagram.com/yogaiskra", "https://www.youtube.com/channel/UCYVWLVhrQ_V_Q-Oec99eFOA", "https://www.yogaiskra.com", "https://www.podcasts.google.com", "https://app.airtm.com/ivt/FFslcE7n", "https://www.zellepay.com", "https://play.google.com/store/search?q=pago%20movil&hl=es_VE"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"iso_yogaiskra_color.png", logoImg+"imagotipo_yogaiskra_color.png", logoImg+"logo_conex@1_5x.png"]

//- course
-var statusCourse = ["No iniciado", "Disponible", "Listo"]
-var levels = ["assets/img/icons/easy.svg", "assets/img/icons/intermedio.svg", "assets/img/icons/hard.svg", "Básico", "Intermedio", "Avanzado"]
-var typesCourse = ["Curso", "Clase", "Meditación"]
