include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  meta(name="og:title", content="Sobre el Ashtanga Yoga - Yogaiskra Blog")
  meta(name="og:description", content="En todas las épocas y lugares, hemos contado con enseñanzas y prácticas para el mejoramiento humano. Algunos han llamado a estos conocimientos la Corriente de Energía Despierta")
  meta(name="og:url", content="https://yogaiskra.com/info/ashtanga-yoga")
  link(rel="canonical", href="https://yogaiskra.com/info/ashtanga-yoga")
  meta(name="og:type", content="article")
  meta(name="article:publisher", content="https://www.facebook.com/yogaiskra/")
  meta(name="article:published_time", content="2020-07-16T13:12:54+00:00")

  meta(name="title", content="Sobre el Ashtanga Yoga - Yogaiskra Blog")
  meta(name="description", content="En todas las épocas y lugares, hemos contado con enseñanzas y prácticas para el mejoramiento humano. Algunos han llamado a estos conocimientos la Corriente de Energía Despierta")
  title Sobre el Ashtanga Yoga - Yogaiskra Blog
  include ../base/_headjs.pug

 body.o-colorIndex.-menuSticky

  // menu
  include ../base/_header.pug

  // hero
  include ../components/info/ashtanga-yoga/_hero.pug

  // text
  include ../components/info/ashtanga-yoga/_text.pug

  // Fund
  include ../components/index/_fund.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../components/_contact_form.pug
  .-blur#contact1
   #contact2
    #contact3
     #contact4
      #contact

  // footer
  include ../base/_footer.pug