include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  meta(name="title", content=titles[0]+" - website de donación para el proyecto de yoga sobre filosofía y yoga ashtanga totalmente online")
  title #{titles[0]} - Clases y conocimiento sobre en el yoga. Queremos que seas una mejor persona
 body.o-colorIndex

  // menu
  include ../base/_header.pug

  // hero
  include ../components/info/ashtanga-yoga/_hero.pug

  // text
  include ../components/info/ashtanga-yoga/_text.pug

  // Fund
  include ../components/index/_fund.pug

  // footer
  include ../base/_footer.pug