include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  meta(name="og:title", content="Podemos mejorar y ayudar")
  meta(name="og:description", content="El Yoga es uno, pero dentro de él vamos a encontrar diferentes métodos, escuelas o estilos. El Ashtanga Yoga es uno de esos métodos que podemos conseguir")
  meta(name="og:url", content="https://yogaiskra.com/info/podemos-cambiar")
  meta(name="og:type", content="article")
  meta(name="article:publisher", content="https://www.facebook.com/yogaiskra/")
  meta(name="article:published_time", content="2020-07-16T13:12:54+00:00")

  meta(name="title", content="Podemos mejorar y ayudar")
  meta(name="description", content="El Yoga es uno, pero dentro de él vamos a encontrar diferentes métodos, escuelas o estilos. El Ashtanga Yoga es uno de esos métodos que podemos conseguir")
  title Podemos mejorar y ayudar
 body.o-colorIndex.-menuSticky

  // menu
  include ../base/_header.pug

  // hero
  include ../components/info/podemos-cambiar/_hero.pug

  // text
  include ../components/info/podemos-cambiar/_text.pug

  // Fund
  include ../components/index/_fund.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../components/_contact_form.pug
  .-blur#contact1
   #contact2
    #contact3
     #contact4
      #contact

  // footer
  include ../base/_footer.pug